@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display&family=Source+Serif+Pro:wght@300&display=swap");
body {
  width: 100%;
  height: 100%;
}
body #header_sub {
  width: 100%;
  border-bottom: 1px solid #ddd;
}
body #header_sub .inner {
  width: 1180px;
  margin: 0 auto;
  position: relative;
  height: 10vh;
}
body #header_sub .inner > h1 {
  position: absolute;
  top: 50%;
  margin-top: -14px;
  left: 0;
}
body #header_sub .inner > h1 a {
  font: bold 28px/1 "open sans";
  color: #476257;
}
body #header_sub .inner .menuWeb {
  background: lightgoldenrodyellow;
}
body #header_sub .inner .menuWeb #gnb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10%);
}
body #header_sub .inner .menuWeb #gnb li {
  float: left;
}
body #header_sub .inner .menuWeb #gnb li a {
  display: block;
  padding: 10px 15px;
  font: bold 16px/1 "open sans";
  color: #222;
}
body #header_sub .inner .menuWeb .util {
  position: absolute;
  right: 0;
  top: 50%;
}
body #header_sub .inner .menuWeb .util li {
  float: left;
  margin-left: 20px;
}
body #header_sub .inner .menuWeb .util li a i {
  font-size: 20px;
  color: #a18870;
}
body #header_sub .inner .btnCall {
  width: 20px;
  height: 20px;
  z-index: 1;
  position: absolute;
  top: 30px;
  right: 30px;
  display: none;
}
body #header_sub .inner .btnCall span {
  display: block;
  width: 100%;
  height: 2px;
  background: #37474f;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1px;
  text-indent: -9990px;
}
body #header_sub .inner .btnCall::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #37474f;
  position: absolute;
  top: 0;
  left: 0;
}
body #header_sub .inner .btnCall::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #37474f;
  position: absolute;
  bottom: 0;
  left: 0;
}
body #header_sub .inner .btnCall.on span {
  transform: translateX(100%);
  opacity: 0;
}
body #header_sub .inner .btnCall.on::before {
  top: 50%;
  margin-top: -1px;
  transform: rotate(45deg);
}
body #header_sub .inner .btnCall.on::after {
  bottom: 50%;
  margin-bottom: -1px;
  transform: rotate(-45deg);
}
body #header_sub .inner .menuMo {
  width: 270px;
  height: 100vh;
  background: #37474f;
  position: fixed;
  top: 0;
  left: -270px;
  z-index: 10;
  padding: 35px 30px;
  transition: 0.5s;
}
body #header_sub .inner .menuMo.on {
  left: 0;
}
body #header_sub .inner .menuMo > h1 {
  position: absolute;
  bottom: 30px;
  border-bottom: 1px solid #aaa;
  padding: 20px 0;
}
body #header_sub .inner .menuMo > h1 a {
  display: block;
  font: bold 24px/1 "open sans";
  color: #fff;
  margin-bottom: 10px;
}
body #header_sub .inner .menuMo > h1 span {
  display: block;
  font: bold 14px/1 "open sans";
  color: #aaa;
}
body #header_sub .inner .menuMo #gnbMo {
  margin-top: 30px;
}
body #header_sub .inner .menuMo #gnbMo li a {
  display: block;
  width: 100%;
  padding: 20px 0;
  font: bold 16px/1 "open sans";
  color: #888;
  text-align: center;
  border-bottom: 1px solid #666;
}
body .content {
  width: 100%;
  padding: 0 0 150px;
}
body .content .sub_visual {
  width: 100%;
  height: 300px;
  margin-bottom: 100px;
}
body .content .sub_visual h1 {
  font: 50px/1 "Playfair Display";
  color: #fff;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
body .content .inner {
  width: 1180px;
  margin: 0 auto;
  min-height: 150px;
}
body .content .inner h1 {
  font: 40px/1 "Source Serif Pro";
  color: #555;
  margin-bottom: 50px;
  text-align: center;
}
body #footer_sub {
  width: 100%;
  background: #476257;
  position: relative;
}
body #footer_sub .inner {
  width: 1180px;
  margin: 0 auto;
  padding: 2vw 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
body #footer_sub .inner .footer-logo {
  width: 580px;
  margin-right: 20px;
}
body #footer_sub .inner .footer-logo h1 {
  font: bold 24px/1 "Open sans";
  letter-spacing: 1px;
  color: #fff;
  margin-bottom: 20px;
}
body #footer_sub .inner .footer-logo > p {
  font: 12px/1.4 "Source Serif Pro";
  color: #fff;
}
body #footer_sub .inner .footer-logo > p strong {
  font-size: 14px;
}
body #footer_sub .inner .footer_contact {
  width: 280px;
  margin-right: 20px;
}
body #footer_sub .inner .footer_contact p {
  font: 14px/1.2 "open sans";
  color: #fff;
  margin-bottom: 20px;
}
body #footer_sub .inner .footer_contact address > p {
  font: 12px/1.2 "open sans";
  margin-bottom: 10px;
  color: #fff;
}
body #footer_sub .inner .footer_sns {
  width: 280px;
}
body #footer_sub .inner .footer_sns p {
  font: 14px/1.2 "open sans";
  color: #fff;
  margin-bottom: 20px;
}
body #footer_sub .inner .footer_sns ul li {
  float: left;
}
body #footer_sub .inner .footer_sns ul li a {
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 50%;
  margin-left: 10px;
  font-size: 12px;
  color: #476257;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #footer_sub .inner .footer_sns ul li:first-of-type a {
  margin-left: 0;
}
body #footer_sub .inner .copyright {
  margin-top: 20px;
  font: 12px/1 "Source Serif Pro";
  color: #fff;
}
body #footer_sub .inner::after {
  content: "";
  display: block;
  width: 1180px;
  height: 1px;
  background: #fff;
  position: absolute;
  bottom: 25%;
  left: 0;
}

@media screen and (max-width: 1179px) {
  body {
    width: 100%;
    height: 100%;
  }
  body #header_sub .inner {
    width: 100%;
  }
  body #header_sub .inner > h1 {
    left: 20px;
  }
  body #header_sub .inner .menuWeb {
    display: none;
  }
  body #header_sub .inner .btnCall {
    display: block;
  }
  body .content .inner {
    width: 100%;
  }
  body #footer_sub .inner {
    width: 100%;
    padding: 2vw 2vh;
  }
  body #footer_sub .inner .footer-logo {
    width: 50%;
    margin-right: 2%;
  }
  body #footer_sub .inner .footer_contact {
    width: 25%;
    margin-right: 2%;
  }
  body #footer_sub .inner .footer_sns {
    width: 20%;
  }
  body #footer_sub .inner::after {
    width: 100%;
  }
}
@media screen and (max-width: 539px) {
  body {
    width: 100%;
    height: 100%;
  }
  body #header_sub .inner {
    width: 100%;
  }
  body #header_sub .inner > h1 {
    left: 20px;
  }
  body #header_sub .inner .menuWeb {
    display: none;
  }
  body #header_sub .inner .btnCall {
    display: block;
  }
  body .content .inner {
    width: 100%;
  }
  body #footer_sub .inner {
    width: 100%;
    padding: 10px;
    margin: 0;
    position: relative;
    align-items: center;
    justify-content: center;
  }
  body #footer_sub .inner .footer-logo {
    width: 100%;
    order: 1;
    margin-right: 0;
  }
  body #footer_sub .inner .footer-logo h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  body #footer_sub .inner .footer-logo > p {
    display: none;
  }
  body #footer_sub .inner .footer_contact {
    width: 100%;
    margin-right: 0;
    order: 3;
  }
  body #footer_sub .inner .footer_contact > p {
    display: none;
  }
  body #footer_sub .inner .footer_contact address > p {
    font: 12px/1.2 "open sans";
    margin-bottom: 10px;
    color: #fff;
    text-align: center;
  }
  body #footer_sub .inner .footer_sns {
    width: 100%;
    order: 2;
    padding-left: 0;
  }
  body #footer_sub .inner .footer_sns p {
    display: none;
  }
  body #footer_sub .inner .footer_sns > ul {
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
  }
  body #footer_sub .inner .footer_sns > ul li {
    margin-bottom: 10px;
  }
  body #footer_sub .inner .copyright {
    order: 4;
    margin-bottom: 20px;
  }
  body #footer_sub .inner::after {
    display: none;
  }
}
.gallery .sub_visual {
  background: url(../img/sub_img3.jpg) no-repeat center/cover;
}
.gallery .inner {
  width: 1180px;
  min-height: 80vh;
}
.gallery .inner .wrap {
  width: 100%;
  position: relative;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 200px;
  grid-template-areas: "a b c d" "a e f f" "g g f f";
}
.gallery .inner .wrap .g_img {
  opacity: 1;
  transition: 0.5s;
}
.gallery .inner .wrap .g_img:hover {
  opacity: 0.7;
  cursor: zoom-in;
}
.gallery .inner .wrap .g_img1 {
  grid-area: a;
  background: lightblue;
}
.gallery .inner .wrap .g_img1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery .inner .wrap .g_img2 {
  grid-area: b;
}
.gallery .inner .wrap .g_img2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery .inner .wrap .g_img3 {
  grid-area: c;
}
.gallery .inner .wrap .g_img3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery .inner .wrap .g_img4 {
  grid-area: d;
}
.gallery .inner .wrap .g_img4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery .inner .wrap .g_img5 {
  grid-area: e;
}
.gallery .inner .wrap .g_img5 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery .inner .wrap .g_img6 {
  grid-area: f;
}
.gallery .inner .wrap .g_img6 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery .inner .wrap .g_img7 {
  grid-area: g;
}
.gallery .inner .wrap .g_img7 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery aside {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  padding: 10vh 5vw;
  z-index: 10;
}
.gallery aside .aside_inner {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  display: flex;
}
.gallery aside .aside_inner .img_inner {
  width: 100%;
  height: 100%;
  position: relative;
}
.gallery aside .aside_inner .img_inner img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.gallery aside .aside_inner span {
  font-size: 30px;
  color: #fff;
  position: absolute;
  right: 0;
  top: -5%;
  display: block;
}

@media screen and (max-width: 1179px) {
  .gallery .sub_visual {
    background: url(../img/sub_img3.jpg) no-repeat center/cover;
  }
  .gallery .inner {
    width: 100%;
    padding: 10px;
  }
}
@media screen and (max-width: 539px) {
  .gallery .inner {
    min-height: 80vh;
  }
  .gallery .inner .wrap {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 120px;
    grid-template-areas: "a b" "a e" "g g" "c d" "f f" "f f";
  }
}
table {
  border-collapse: collapse;
}

fieldset {
  border: none;
}

.hidden {
  position: absolute;
  opacity: 0;
  left: -9999px;
}

.membership .sub_visual {
  background: url(../img/sub_img6.jpg) no-repeat center/cover;
}
.membership .inner {
  width: 100%;
  padding: 10px 0;
}
.membership .inner .join {
  width: 1180px;
  margin: 0 auto;
}
.membership .inner .join .join_inner {
  width: 100%;
}
.membership .inner .join .join_inner h1 {
  font: 40px/1 "Source Serif Pro";
  color: #555;
  margin-bottom: 50px;
  text-align: center;
}
.membership .inner .join .join_inner table {
  width: 100%;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
}
.membership .inner .join .join_inner table tr th,
.membership .inner .join .join_inner table tr td {
  border-bottom: 1px solid #ddd;
  padding: 15px 25px;
}
.membership .inner .join .join_inner table tr th {
  width: 30%;
}
.membership .inner .join .join_inner table tr th input[type=reset],
.membership .inner .join .join_inner table tr th input[type=submit] {
  width: 20%;
  height: 40px;
  border: 1px solid #333;
  margin: 10px;
  font: bold 14px/40px "open sans";
  color: #555;
  letter-spacing: 2px;
  border-radius: 4px;
  cursor: pointer;
  transition: 1s;
}
.membership .inner .join .join_inner table tr th input[type=reset]:hover,
.membership .inner .join .join_inner table tr th input[type=submit]:hover {
  background: #333;
  color: #fff;
}
.membership .inner .join .join_inner table tr td {
  border-left: 1px solid #aaa;
  font: 12px "open sans";
}
.membership .inner .join .join_inner table tr td input[type=text],
.membership .inner .join .join_inner table tr td input[type=password],
.membership .inner .join .join_inner table tr td select {
  width: 50%;
  background: rgba(0, 0, 0, 0.03);
  padding: 10px;
  border: 1px solid #aaa;
}
.membership .inner .join .join_inner table tr td input[type=radio],
.membership .inner .join .join_inner table tr td input[type=checkbox] {
  margin-right: 30px;
}
.membership .inner .join .join_inner table tr td textarea {
  resize: none;
  width: 70%;
  height: 150px;
  background: rgba(0, 0, 0, 0.03);
  padding: 10px;
  border: 1px solid #aaa;
}
.membership .inner .join .join_inner table tr td label {
  font-size: 16px;
}
.membership .inner .join .join_inner table tr p {
  font: 11px/1 "맑은 고딕";
  color: #ff4081;
  margin-top: 5px;
}

@media screen and (max-width: 1179px) {
  .membership .inner .join {
    width: 100%;
    padding: 10px;
  }
}
@media screen and (max-width: 539px) {
  .membership .inner .join .join_inner h1 {
    font: 30px/1 "Source Serif Pro";
  }
  .membership .inner .join .join_inner table tr th,
  .membership .inner .join .join_inner table tr td {
    padding: 1vh 2vw;
  }
  .membership .inner .join .join_inner table tr th {
    font-size: 13px;
  }
  .membership .inner .join .join_inner table tr th input[type=reset],
  .membership .inner .join .join_inner table tr th input[type=submit] {
    height: 30px;
    margin: 0 0 0 10px;
    font: bold 12px/30px "open sans";
  }
  .membership .inner .join .join_inner table tr td {
    border-left: 1px solid #aaa;
  }
  .membership .inner .join .join_inner table tr td input[type=text],
  .membership .inner .join .join_inner table tr td input[type=password],
  .membership .inner .join .join_inner table tr td select {
    width: 100%;
  }
  .membership .inner .join .join_inner table tr td textarea {
    width: 100%;
    height: 10vh;
  }
  .membership .inner .join .join_inner table tr td label {
    font-size: 12px;
  }
  .membership .inner .join .join_inner table tr p {
    font: 11px/1 "맑은 고딕";
    color: #ff4081;
    margin-top: 5px;
  }
}
.department .sub_visual {
  background: url(../img/sub_img1.jpg) no-repeat bottom/cover;
}
.department .inner {
  width: 1180px;
  margin: 0 auto;
}
.department .inner #members {
  width: 100%;
}
.department .inner #members .m_inner h1 {
  font: 40px/1 "Source Serif Pro";
  color: #555;
  margin-bottom: 20px;
  text-align: center;
}
.department .inner #members .m_inner h2 {
  font: 20px/1 "Source Serif Pro";
  color: #555;
  text-align: center;
  margin-bottom: 30px;
}
.department .inner #members .m_inner h2 strong {
  color: #00bfa5;
}
.department .inner #members .m_inner .wrap {
  width: 100%;
}
.department .inner #members .m_inner .wrap::after {
  content: "";
  display: block;
  clear: both;
}
.department .inner #members .m_inner .wrap article {
  width: 50%;
  height: 295px;
  float: left;
  display: flex;
  transition: 0.5s;
  overflow: hidden;
}
.department .inner #members .m_inner .wrap article:first-of-type {
  width: 100%;
}
.department .inner #members .m_inner .wrap article div {
  width: 50%;
  height: 100%;
}
.department .inner #members .m_inner .wrap article .img {
  overflow: hidden;
  width: 50%;
}
.department .inner #members .m_inner .wrap article .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.department .inner #members .m_inner .wrap article .card_container {
  display: inline-block;
  width: 50%;
  height: 100%;
  margin: 0 auto;
  perspective: 900px;
}
.department .inner #members .m_inner .wrap article .card_container .card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  transform-style: preserve-3d;
}
.department .inner #members .m_inner .wrap article .card_container .card .front,
.department .inner #members .m_inner .wrap article .card_container .card .back {
  position: absolute;
  background-color: #efefef;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #222;
  backface-visibility: hidden;
}
.department .inner #members .m_inner .wrap article .card_container .card .front {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
.department .inner #members .m_inner .wrap article .card_container .card .back {
  background: #efefef;
  position: relative;
  padding: 30px;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.department .inner #members .m_inner .wrap article .card_container .card .back h3 {
  font: bold 20px/1 "open sans";
  color: #000;
  text-align: center;
  text-transform: uppercase;
}
.department .inner #members .m_inner .wrap article .card_container .card .back p {
  font: 14px/1.4 "open sans";
  color: #666;
  text-align: center;
}
.department .inner #members .m_inner .wrap article .card_container .card .back a {
  text-align: center;
  padding: 5% 0;
}
.department .inner #members .m_inner .wrap article .card_container .card .back a i {
  font-size: 20px;
  color: #222;
}
.department .inner #members .m_inner .wrap article .card_container .card .back a::before {
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  background: #222;
  position: absolute;
  margin-top: -7%;
  left: 50%;
  margin-left: -50px;
}
.department .inner #members .m_inner .wrap article:hover .card {
  transform: rotateY(180deg);
}
.department .inner #members .m_inner .wrap article:nth-of-type(1) .card_container .card .front, .department .inner #members .m_inner .wrap article:nth-of-type(5) .card_container .card .front {
  background: #b2dfdb;
}
.department .inner #members .m_inner .wrap article:hover img {
  transform: scale(1.2);
  filter: grayscale(0.2);
}
.department .inner #members .m_inner .wrap article:nth-child(4),
.department .inner #members .m_inner .wrap article:nth-child(5) {
  flex-direction: row-reverse;
}

@media screen and (max-width: 1179px) {
  .department .inner {
    width: 100%;
  }
  .department .inner #members {
    width: 100%;
  }
  .department .inner #members .m_inner {
    padding: 10px;
  }
}
@media screen and (max-width: 539px) {
  .department .inner #members {
    width: 100%;
  }
  .department .inner #members .m_inner h1 {
    font: 26px/1 "Source Serif Pro";
  }
  .department .inner #members .m_inner h2 {
    font: 14px/1 "Source Serif Pro";
  }
  .department .inner #members .m_inner .wrap article {
    width: 100%;
    height: 45vh;
    display: block;
  }
  .department .inner #members .m_inner .wrap article div {
    width: 100%;
    height: 50%;
  }
  .department .inner #members .m_inner .wrap article .img {
    width: 100%;
  }
  .department .inner #members .m_inner .wrap article .img img {
    object-fit: fill;
  }
  .department .inner #members .m_inner .wrap article .card_container {
    width: 100%;
    height: 50%;
  }
  .department .inner #members .m_inner .wrap article .card_container .card .front {
    font-size: 20px;
    background: #b2dfdb;
  }
  .department .inner #members .m_inner .wrap article .card_container .card .back {
    padding: 15px;
    transform: rotateY(180deg);
  }
  .department .inner #members .m_inner .wrap article .card_container .card .back h3 {
    font: bold 14px/1 "open sans";
  }
  .department .inner #members .m_inner .wrap article .card_container .card .back p {
    font: 12px/1.4 "open sans";
  }
  .department .inner #members .m_inner .wrap article .card_container .card .back a {
    padding: 2% 0;
  }
  .department .inner #members .m_inner .wrap article .card_container .card .back a i {
    font-size: 12px;
  }
  .department .inner #members .m_inner .wrap article .card_container .card .back a::before {
    content: "";
    margin-top: -4%;
  }
  .department .inner #members .m_inner .wrap article:hover .card {
    transform: rotateY(180deg);
  }
  .department .inner #members .m_inner .wrap article:hover img {
    transform: none;
    filter: none;
  }
}
.location {
  width: 100%;
}
.location .sub_visual {
  background: url(../img/sub_img5.jpg) no-repeat center/cover;
}
.location .inner {
  width: 1180px;
}
.location .inner .map_info {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.location .inner .map_info .info_list {
  width: 25%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.location .inner .map_info .info_list i {
  font-size: 30px;
  color: #476257;
  margin-bottom: 10px;
}
.location .inner .map_info .info_list h2 {
  font: bold 20px/1 "open sans";
  color: #333;
  margin-bottom: 10px;
}
.location .inner .map_info .info_list p {
  font: 15px/1.5 "open sans";
  color: #333;
  text-align: center;
}
.location .inner .map_content {
  width: 80%;
  margin: 0 auto;
  display: flex;
}
.location .inner .map_content .branch {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.location .inner .map_content .branch li {
  width: 100%;
  cursor: pointer;
}
.location .inner .map_content .branch li a {
  display: block;
  font: bold 20px/1 "open sans";
  color: #333;
  margin-bottom: 20px;
}
.location .inner .map_content .branch li a i {
  font-size: 18px;
  color: #476257;
  margin-right: 20px;
}
.location .inner .map_content .branch li.on i {
  color: #ad9f87;
}
.location .inner .map_content #map {
  width: 70%;
  height: 400px;
}

@media screen and (max-width: 1179px) {
  .location .inner {
    width: 100%;
  }
}
@media screen and (max-width: 539px) {
  .location .inner {
    width: 100%;
    padding: 10px;
  }
  .location .inner .map_info {
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .location .inner .map_info .info_list {
    width: 50%;
    margin-bottom: 20px;
  }
  .location .inner .map_info .info_list i {
    font-size: 22px;
  }
  .location .inner .map_info .info_list h2 {
    font: bold 16px/1 "open sans";
  }
  .location .inner .map_info .info_list p {
    font: 12px/1.5 "open sans";
  }
  .location .inner .map_content {
    width: 100%;
    margin: 0 auto;
    display: block;
  }
  .location .inner .map_content .branch {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }
  .location .inner .map_content .branch li {
    width: 100%;
    cursor: pointer;
    padding: 10px;
  }
  .location .inner .map_content .branch li a {
    font: bold 14px/1 "open sans";
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  .location .inner .map_content .branch li a i {
    font-size: 14px;
    margin-right: 0;
    margin-bottom: 5px;
  }
  .location .inner .map_content .branch li p {
    font-size: 12px;
    text-align: center;
  }
  .location .inner .map_content #map {
    width: 100%;
    height: 30vh;
  }
}
.product {
  background: #efefef;
}
.product .sub_visual {
  background: url(../img/sub_img2.jpg) no-repeat top/cover;
}
.product .inner::after {
  content: "";
  display: block;
  clear: both;
}
.product .inner ul {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.product .inner ul li {
  width: 150px;
  height: 30px;
  margin-left: 10px;
}
.product .inner ul li a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  font: 14px/30px "Open Sans";
  color: #aaa;
}
.product .inner ul li.on a {
  background: linear-gradient(45deg, rgb(186, 83, 112), #f4e2d8);
  color: #fff;
  box-shadow: 0px 0px 20px rgba(255, 205, 210, 0.9);
}
.product .inner .product-list {
  width: 100%;
  float: left;
}
.product .inner .product-list article {
  width: 25%;
  padding: 10px;
}
.product .inner .product-list article > div {
  width: 100%;
  background: #fff;
  border-radius: 4px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
}
.product .inner .product-list article > div img {
  width: 100%;
}
.product .inner .product-list article > div h2 {
  font: bold 15px/1 "open sans";
  color: #444;
  margin-top: 10px;
  margin-bottom: 8px;
}
.product .inner .product-list article > div p {
  font: 12px/1 "open sans";
  color: #777;
  margin-bottom: 10px;
}
.product aside {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  padding: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.product aside .aside_inner {
  height: 100%;
  position: relative;
  cursor: pointer;
}
.product aside .aside_inner img {
  height: 90%;
}
.product aside .aside_inner span {
  font-size: 30px;
  color: #fff;
  position: absolute;
  right: 0;
  bottom: 20px;
}

@media screen and (max-width: 1179px) {
  .product .inner {
    padding: 30px;
    overflow: hidden;
  }
  .product .inner .product-list article {
    width: 33.3333%;
  }
}
@media screen and (max-width: 539px) {
  .product .inner {
    padding: 0;
  }
  .product .inner .product-list article {
    width: 50%;
  }
}
.community .sub_visual {
  background: url(../img/sub_img4.jpg) no-repeat center/cover;
}
.community .inner .accordion {
  width: 100%;
  border-top: 2px solid #000;
  border-bottom: 1px solid #000;
}
.community .inner .accordion .container {
  width: 100%;
  position: relative;
}
.community .inner .accordion .container .label {
  width: 100%;
  height: 70px;
  cursor: pointer;
  display: flex;
  transition: 0.5s;
  border-bottom: 1px solid #000;
  position: relative;
}
.community .inner .accordion .container .label span {
  width: 5%;
  font: bold 20px/1 "Playfair Display";
  margin-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.community .inner .accordion .container .label p {
  width: 90%;
  font: bold 16px/1 "open sans";
  display: flex;
  align-items: center;
}
.community .inner .accordion .container .label::before {
  content: "";
  width: 8px;
  height: 8px;
  border-style: solid;
  border-color: #999;
  border-width: 0px 1px 1px 0;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: rotate(45deg);
  transition: 0.5s;
}
.community .inner .accordion .container .c_content {
  position: relative;
  width: 100%;
  height: 0;
  padding: 0 50px;
  font: 15px/1.5 "open sans";
  color: #000;
  transition: 0.5s;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.05);
}
.community .inner .accordion .active .c_content {
  height: auto;
  padding: 20px 50px;
}
.community .inner .accordion .active .label::before {
  transform: rotate(-135deg);
}

@media screen and (max-width: 1179px) {
  .community .inner {
    padding: 10px;
  }
}
@media screen and (max-width: 539px) {
  .community .inner .accordion .container .label span {
    width: 10%;
    font: bold 16px/1 "Playfair Display";
  }
  .community .inner .accordion .container .label p {
    width: 80%;
    font: bold 14px/1 "open sans";
  }
  .community .inner .accordion .container .c_content {
    font: 12px/1.2 "open sans";
  }
}
.youtube .sub_visual {
  background: url(../img/sub_img7.jpg) no-repeat center/cover;
}
.youtube .vidList {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.youtube .vidList article {
  width: 100%;
  height: 40vh;
  border-bottom: 1px solid #333;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
}
.youtube .vidList article:nth-of-type(1) {
  border-top: 1px solid #333;
}
.youtube .vidList article h2 {
  font: 30px/1 "Playfair Display";
}
.youtube .vidList article > a {
  width: 50%;
}
.youtube .vidList article > a img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}
.youtube .vidList article .vid_con {
  width: 30%;
  padding-right: 20px;
  position: relative;
}
.youtube .vidList article .vid_con h3 {
  font: bold 22px/1.4 "open sans";
  color: #333;
  margin-bottom: 20px;
}
.youtube .vidList article .vid_con p {
  font: 12px/1.2 "open sans";
  color: #333;
}
.youtube .vidList article .vid_con .play_btn {
  display: block;
  width: 100px;
  height: 30px;
  position: absolute;
  bottom: 0;
  font: 14px/30px "open sans";
  color: #333;
  text-align: center;
  border: 1px solid #333;
  border-radius: 5px;
}
.youtube figure.pop {
  z-index: 2;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vw;
}
.youtube figure.pop .btnClose {
  position: absolute;
  right: 5vw;
  top: 2.5vw;
  cursor: pointer;
}
.youtube figure.pop .btnClose i {
  font-size: 26px;
  color: #fff;
}

@media screen and (max-width: 539px) {
  .youtube .vidList {
    width: 100%;
    padding: 10px;
  }
  .youtube .vidList article {
    height: 30vh;
  }
  .youtube .vidList article h2 {
    font: 20px/1 "Playfair Display";
  }
  .youtube .vidList article > a {
    width: 55%;
  }
  .youtube .vidList article .vid_con {
    width: 35%;
  }
  .youtube .vidList article .vid_con h3 {
    font: bold 14px/1.4 "open sans";
  }
  .youtube .vidList article .vid_con p {
    font: 10px/1.2 "open sans";
  }
  .youtube .vidList article .vid_con .play_btn {
    width: 15vw;
    height: 3vh;
    font: 12px/3vh "open sans";
  }
}
.join_result .sub_visual {
  background: url(../img/sub_img6.jpg) no-repeat center/cover;
}
.join_result .inner .check {
  font-size: 50px;
  text-align: center;
  margin-bottom: 20px;
}
.join_result .inner p {
  font: 28px/1 "open sans";
  text-align: center;
}

@media screen and (max-width: 539px) {
  .join_result .inner .check {
    font-size: 30px;
  }
  .join_result .inner p {
    font: 20px/1 "open sans";
  }
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  height: 100%;
}
body #header {
  width: 100%;
  height: 100vh;
  position: relative;
}
body #header::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 7vh;
  background: #b2c5c1;
  opacity: 0.4;
  z-index: 0;
}
body #header .inner {
  color: #000;
}
body #header .inner .background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
body #header .inner .background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(60%);
}
body #header .inner .header_nav {
  width: 1180px;
  height: 25vh;
  margin: 0 auto;
  position: relative;
}
body #header .inner .header_nav h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body #header .inner .header_nav h1 a {
  font: bold 30px/1 "Open Sans";
  letter-spacing: 3px;
  color: #fff;
}
body #header .inner .header_nav .menuWeb #gnb {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
body #header .inner .header_nav .menuWeb #gnb li a {
  display: block;
  padding: 12px 50px;
  font: bold 16px/1 "Open Sans";
  letter-spacing: 1.3px;
  color: #fff;
}
body #header .inner .header_nav .menuWeb #gnb li a:hover {
  background: #b2c5c1;
}
body #header .inner .header_nav .menuWeb #gnb::before, body #header .inner .header_nav .menuWeb #gnb::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #fff;
  position: absolute;
}
body #header .inner .header_nav .menuWeb #gnb::before {
  bottom: 40px;
}
body #header .inner .header_nav .menuWeb #gnb::after {
  bottom: 0;
}
body #header .inner .header_nav .menuWeb .util {
  position: absolute;
  top: 20px;
  right: 36px;
  z-index: 1;
}
body #header .inner .header_nav .menuWeb .util li {
  float: left;
  margin-left: 30px;
}
body #header .inner .header_nav .menuWeb .util li a {
  font: 16px/1 "Open Sans";
  color: #fff;
}
body #header .inner .txt {
  width: 1180px;
  height: 75vh;
  margin: 0 auto;
  position: relative;
}
body #header .inner .txt .txt-inner {
  width: 55vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15vh;
}
body #header .inner .txt .txt-inner h2 {
  font: 40px/1 "Source Serif Pro";
  color: #fff;
  text-align: center;
}
body #header .inner .txt .txt-inner p {
  font: 20px/1.4 "Source Serif Pro";
  color: #fff;
  text-align: center;
}
body #header .inner .txt .txt-inner a {
  display: block;
  width: 300px;
  height: 40px;
  border: 2px solid #b2c5c1;
  font: bold 14px/40px "open sans";
  color: #fff;
  letter-spacing: 3px;
  text-align: center;
  margin-left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}
body #header .inner .txt .txt-inner a:hover {
  background-color: #b2c5c1;
}
body #header .inner .btnCall {
  width: 20px;
  height: 20px;
  z-index: 1;
  position: absolute;
  top: 3vh;
  right: 30px;
  display: none;
}
body #header .inner .btnCall span {
  display: block;
  width: 100%;
  height: 2px;
  background: #37474f;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1px;
  text-indent: -9990px;
}
body #header .inner .btnCall::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #37474f;
  position: absolute;
  top: 0;
  left: 0;
}
body #header .inner .btnCall::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #37474f;
  position: absolute;
  bottom: 0;
  left: 0;
}
body #header .inner .btnCall.on span {
  transform: translateX(100%);
  opacity: 0;
}
body #header .inner .btnCall.on::before {
  top: 50%;
  margin-top: -1px;
  transform: rotate(45deg);
}
body #header .inner .btnCall.on::after {
  bottom: 50%;
  margin-bottom: -1px;
  transform: rotate(-45deg);
}
body #header .inner .menuMo {
  width: 270px;
  height: 100vh;
  background: #37474f;
  position: fixed;
  top: 0;
  left: -270px;
  z-index: 10;
  padding: 35px 30px;
  transition: 0.5s;
}
body #header .inner .menuMo.on {
  left: 0;
}
body #header .inner .menuMo h1 {
  position: absolute;
  bottom: 50px;
  border-bottom: 1px solid #aaa;
  padding: 20px 0 5px;
}
body #header .inner .menuMo h1 a {
  display: block;
  font: bold 24px/1 "open sans";
  color: #fff;
  margin-bottom: 10px;
}
body #header .inner .menuMo h1 span {
  display: block;
  font: bold 14px/1 "open sans";
  color: #aaa;
}
body #header .inner .menuMo #gnbMo {
  margin-top: 30px;
}
body #header .inner .menuMo #gnbMo li a {
  display: block;
  width: 100%;
  padding: 20px 0;
  font: bold 16px/1 "open sans";
  color: #888;
  text-align: center;
  border-bottom: 1px solid #666;
}
body #header .inner .scroll_to_top {
  position: relative;
}
body #header .inner .scroll_to_top .scroll_btn {
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 20;
  width: 50px;
  height: 50px;
  background: rgba(178, 197, 193, 0.8);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
body #header .inner .scroll_to_top .scroll_btn i {
  font-size: 25px;
  color: #f0e8e4;
}
body #introduction {
  width: 100%;
  background: #f0e8e4;
  overflow: hidden;
}
body #introduction .inner {
  width: 1180px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
}
body #introduction .inner div {
  width: 48%;
  height: 100%;
  padding: 150px 0;
}
body #introduction .inner .introduction_txt h2 {
  font: bold 50px/1 "Source Serif Pro";
  color: #222;
  letter-spacing: 5px;
  margin-bottom: 10px;
}
body #introduction .inner .introduction_txt h3 {
  font: bold 20px/1 "Source Serif Pro";
  color: #476257;
  margin-bottom: 30px;
}
body #introduction .inner .introduction_txt p {
  font: normal 17px/1.3 "Source Serif Pro";
  color: #666;
}
body #introduction .inner .introduction_txt a {
  display: block;
  width: 40%;
  height: 40px;
  background: #476257;
  margin-top: 30px;
  font: 14px/40px "open sans";
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
  border-radius: 3px;
}
body #introduction .inner .introduction_img img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  transform-origin: top;
  transform: rotateY(200deg) translateY(100px);
  opacity: 0;
  transition: 0.5s;
}
body #introduction .inner .introduction_img p {
  font: normal 15px/1 "Source Serif Pro";
  color: #666;
  text-align: end;
}
body #introduction.on .inner .introduction_img img {
  opacity: 1;
  transform: rotateY(0deg) translateY(0px);
}
body #video {
  width: 100%;
  padding: 30px;
  background: #f5f5f5;
}
body #video .vid_inner {
  width: 100%;
  position: relative;
}
body #video .vid_inner .txt {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body #video .vid_inner .txt h1 {
  font: bold 30px/1 "open sans";
  color: #a18870;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
body #video .vid_inner .txt h1::after {
  content: "";
  display: block;
  width: 300px;
  height: 1px;
  background: #476257;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
}
body #video .vid_inner .txt p {
  font: bold 15px/1 "open sans";
  color: #8a8a8a;
  margin-bottom: 30px;
}
body #video .vid_inner figure {
  width: 100%;
  height: 60vh;
  overflow: hidden;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
}
body #video .vid_inner figure video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body #video .vid_inner a {
  display: block;
  width: 80px;
  padding: 5px;
  font: bold 15px/1 "open sans";
  color: #a18870;
  border-bottom: 1px solid #a18870;
  text-align: center;
  margin-top: 30px;
  margin-left: 50%;
  transform: translateX(-50%);
}
body #product {
  width: 100%;
  padding: 100px 0;
  background: #f0e8e4;
}
body #product .inner {
  width: 1180px;
  margin: 0 auto;
  position: relative;
}
body #product .inner .inner_txt {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body #product .inner .inner_txt h1 {
  font: bold 30px/1 "open sans";
  color: #a18870;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
body #product .inner .inner_txt h1::after {
  content: "";
  display: block;
  width: 300px;
  height: 1px;
  background: #476257;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
}
body #product .inner .inner_txt > p {
  font: bold 15px/1 "Open Sans";
  color: #8a8a8a;
  margin-bottom: 50px;
}
body #product .inner .wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}
body #product .inner .wrap article {
  width: 275px;
  position: relative;
  overflow: hidden;
  margin-right: 1vw;
  transform: translateY(100px);
  transition: 0.5s;
  opacity: 0;
}
body #product .inner .wrap article:nth-of-type(1) {
  transition-delay: 0s;
}
body #product .inner .wrap article:nth-of-type(2) {
  transition-delay: 0.2s;
}
body #product .inner .wrap article:nth-of-type(3) {
  transition-delay: 0.4s;
}
body #product .inner .wrap article .img {
  width: 100%;
  height: 335px;
  overflow: hidden;
}
body #product .inner .wrap article .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}
body #product .inner .wrap article .img .img_txt {
  width: 100%;
  height: 335px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.5s;
}
body #product .inner .wrap article .img .img_txt p {
  font: 15px/1.3 "open sans";
  color: #fff;
}
body #product .inner .wrap article .img .img_txt a {
  display: block;
  width: 50%;
  height: 40px;
  border: 1px solid #fff;
  font: 15px/30px "open sans";
  color: #fff;
  text-align: center;
}
body #product .inner .wrap article .img .img_txt a:hover {
  background: #fff;
  color: #222;
}
body #product .inner .wrap article .img:hover img {
  transform: scale(1.2);
}
body #product .inner .wrap article .img:hover .img_txt {
  background: #222;
  opacity: 0.7;
}
body #product .inner .wrap article p {
  font: bold 15px/1 "Open sans";
  color: #222;
  text-align: center;
  margin: 20px 0;
}
body #product.on .inner .wrap article {
  opacity: 1;
  transform: translateY(0px);
}
body #community {
  width: 100%;
  padding: 30px;
  background: #f5f5f5;
}
body #community .com_inner {
  width: 100%;
  height: 80vh;
  margin: 0 auto;
  background: url(../img/comment3.jpg) no-repeat center top/cover;
  position: relative;
  overflow: hidden;
}
body #community .com_inner .wrap,
body #community .com_inner .swiper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
body #community .com_inner .wrap article,
body #community .com_inner .wrap .swiper-wrapper,
body #community .com_inner .swiper article,
body #community .com_inner .swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  padding: 20vh 20vw;
}
body #community .com_inner .wrap article .comment,
body #community .com_inner .wrap article .swiper-slide,
body #community .com_inner .wrap .swiper-wrapper .comment,
body #community .com_inner .wrap .swiper-wrapper .swiper-slide,
body #community .com_inner .swiper article .comment,
body #community .com_inner .swiper article .swiper-slide,
body #community .com_inner .swiper .swiper-wrapper .comment,
body #community .com_inner .swiper .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
  padding: 0 10vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
body #community .com_inner .wrap article .comment h1,
body #community .com_inner .wrap article .swiper-slide h1,
body #community .com_inner .wrap .swiper-wrapper .comment h1,
body #community .com_inner .wrap .swiper-wrapper .swiper-slide h1,
body #community .com_inner .swiper article .comment h1,
body #community .com_inner .swiper article .swiper-slide h1,
body #community .com_inner .swiper .swiper-wrapper .comment h1,
body #community .com_inner .swiper .swiper-wrapper .swiper-slide h1 {
  font: bold 30px/1 "Open Sans";
  color: #a18870;
}
body #community .com_inner .wrap article .comment .cus_img,
body #community .com_inner .wrap article .swiper-slide .cus_img,
body #community .com_inner .wrap .swiper-wrapper .comment .cus_img,
body #community .com_inner .wrap .swiper-wrapper .swiper-slide .cus_img,
body #community .com_inner .swiper article .comment .cus_img,
body #community .com_inner .swiper article .swiper-slide .cus_img,
body #community .com_inner .swiper .swiper-wrapper .comment .cus_img,
body #community .com_inner .swiper .swiper-wrapper .swiper-slide .cus_img {
  width: 100px;
  height: 100px;
}
body #community .com_inner .wrap article .comment .cus_img img,
body #community .com_inner .wrap article .swiper-slide .cus_img img,
body #community .com_inner .wrap .swiper-wrapper .comment .cus_img img,
body #community .com_inner .wrap .swiper-wrapper .swiper-slide .cus_img img,
body #community .com_inner .swiper article .comment .cus_img img,
body #community .com_inner .swiper article .swiper-slide .cus_img img,
body #community .com_inner .swiper .swiper-wrapper .comment .cus_img img,
body #community .com_inner .swiper .swiper-wrapper .swiper-slide .cus_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
body #community .com_inner .wrap article .comment h2,
body #community .com_inner .wrap article .swiper-slide h2,
body #community .com_inner .wrap .swiper-wrapper .comment h2,
body #community .com_inner .wrap .swiper-wrapper .swiper-slide h2,
body #community .com_inner .swiper article .comment h2,
body #community .com_inner .swiper article .swiper-slide h2,
body #community .com_inner .swiper .swiper-wrapper .comment h2,
body #community .com_inner .swiper .swiper-wrapper .swiper-slide h2 {
  font: 18px/1 "Source Serif Pro";
  text-align: center;
}
body #community .com_inner .wrap article .comment h3,
body #community .com_inner .wrap article .swiper-slide h3,
body #community .com_inner .wrap .swiper-wrapper .comment h3,
body #community .com_inner .wrap .swiper-wrapper .swiper-slide h3,
body #community .com_inner .swiper article .comment h3,
body #community .com_inner .swiper article .swiper-slide h3,
body #community .com_inner .swiper .swiper-wrapper .comment h3,
body #community .com_inner .swiper .swiper-wrapper .swiper-slide h3 {
  font: 14px/1 "Open Sans";
}
body #footer {
  width: 100%;
  background: #476257;
}
body #footer .inner {
  width: 1180px;
  margin: 0 auto;
  padding: 2vw 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body #footer .inner h1 {
  font: bold 30px/1 "Open sans";
  letter-spacing: 3px;
  color: #fff;
  margin-bottom: 2vh;
}
body #footer .inner > p {
  font: 14px/1.3 "Source Serif Pro";
  padding: 0 10vw;
  text-align: center;
  color: #fff;
  margin-bottom: 3vh;
}
body #footer .inner > p strong {
  font-size: 18px;
}
body #footer .inner .sns {
  display: flex;
  margin-bottom: 3vh;
}
body #footer .inner .sns li a {
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 50%;
  margin-left: 20px;
  font-size: 12px;
  color: #476257;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #footer .inner .sns li:first-of-type a {
  margin-left: 0;
}
body #footer .inner address {
  font: 14px/1.2 "open sans";
  margin-bottom: 1vh;
  color: #333;
  text-align: center;
}
body #footer .inner span {
  font: 14px/1 "open sans";
  color: #333;
}

@media screen and (max-width: 1179px) {
  body #header::after {
    height: 8vh;
    opacity: 1;
    z-index: 0;
  }
  body #header .inner {
    width: 100%;
  }
  body #header .inner .header_nav {
    width: 100%;
    height: 8vh;
    z-index: 1;
  }
  body #header .inner .header_nav h1 {
    position: absolute;
    top: 0;
    left: 3vw;
    transform: translate(0, 0);
  }
  body #header .inner .header_nav h1 a {
    font: bold 28px/8vh "Open Sans";
  }
  body #header .inner .header_nav .menuWeb {
    display: none;
  }
  body #header .inner .txt {
    width: 100%;
    height: 92vh;
  }
  body #header .inner .btnCall {
    display: block;
    top: 2.5vh;
    right: 3vw;
  }
  body #introduction {
    padding: 0 20px;
  }
  body #introduction .inner {
    width: 100%;
  }
  body #introduction .inner div {
    width: 48%;
    height: 100%;
    padding: 150px 0;
  }
  body #video .vid_inner figure {
    height: 50vh;
  }
  body #product .inner {
    width: 100%;
  }
  body #community .com_inner .wrap article .comment h1,
  body #community .com_inner .wrap article .swiper-slide h1,
  body #community .com_inner .wrap .swiper-wrapper .comment h1,
  body #community .com_inner .wrap .swiper-wrapper .swiper-slide h1,
  body #community .com_inner .swiper article .comment h1,
  body #community .com_inner .swiper article .swiper-slide h1,
  body #community .com_inner .swiper .swiper-wrapper .comment h1,
  body #community .com_inner .swiper .swiper-wrapper .swiper-slide h1 {
    font: bold 24px/1 "Open Sans";
    color: #a18870;
  }
  body #community .com_inner .wrap article .comment .cus_img,
  body #community .com_inner .wrap article .swiper-slide .cus_img,
  body #community .com_inner .wrap .swiper-wrapper .comment .cus_img,
  body #community .com_inner .wrap .swiper-wrapper .swiper-slide .cus_img,
  body #community .com_inner .swiper article .comment .cus_img,
  body #community .com_inner .swiper article .swiper-slide .cus_img,
  body #community .com_inner .swiper .swiper-wrapper .comment .cus_img,
  body #community .com_inner .swiper .swiper-wrapper .swiper-slide .cus_img {
    width: 80px;
    height: 80px;
  }
  body #community .com_inner .wrap article .comment .cus_img img,
  body #community .com_inner .wrap article .swiper-slide .cus_img img,
  body #community .com_inner .wrap .swiper-wrapper .comment .cus_img img,
  body #community .com_inner .wrap .swiper-wrapper .swiper-slide .cus_img img,
  body #community .com_inner .swiper article .comment .cus_img img,
  body #community .com_inner .swiper article .swiper-slide .cus_img img,
  body #community .com_inner .swiper .swiper-wrapper .comment .cus_img img,
  body #community .com_inner .swiper .swiper-wrapper .swiper-slide .cus_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  body #community .com_inner .wrap article .comment h2,
  body #community .com_inner .wrap article .swiper-slide h2,
  body #community .com_inner .wrap .swiper-wrapper .comment h2,
  body #community .com_inner .wrap .swiper-wrapper .swiper-slide h2,
  body #community .com_inner .swiper article .comment h2,
  body #community .com_inner .swiper article .swiper-slide h2,
  body #community .com_inner .swiper .swiper-wrapper .comment h2,
  body #community .com_inner .swiper .swiper-wrapper .swiper-slide h2 {
    font: 16px/1 "Source Serif Pro";
    text-align: center;
  }
  body #community .com_inner .wrap article .comment h3,
  body #community .com_inner .wrap article .swiper-slide h3,
  body #community .com_inner .wrap .swiper-wrapper .comment h3,
  body #community .com_inner .wrap .swiper-wrapper .swiper-slide h3,
  body #community .com_inner .swiper article .comment h3,
  body #community .com_inner .swiper article .swiper-slide h3,
  body #community .com_inner .swiper .swiper-wrapper .comment h3,
  body #community .com_inner .swiper .swiper-wrapper .swiper-slide h3 {
    font: 12px/1 "Open Sans";
  }
  body #footer .inner {
    width: 100%;
  }
}
@media screen and (max-width: 539px) {
  body #header {
    height: 60vh;
  }
  body #header::after {
    height: 8vh;
  }
  body #header .inner .header_nav {
    height: 8vh;
  }
  body #header .inner .header_nav h1 a {
    font: bold 24px/8vh "Open Sans";
    letter-spacing: 2px;
  }
  body #header .inner .txt {
    height: 52vh;
  }
  body #header .inner .txt .txt-inner {
    width: 70vw;
    height: 20vh;
    bottom: 5vh;
  }
  body #header .inner .txt .txt-inner h2 {
    font: 24px/1 "Source Serif Pro";
  }
  body #header .inner .txt .txt-inner p {
    font: 12px/1.4 "Source Serif Pro";
  }
  body #header .inner .txt .txt-inner a {
    width: 70%;
    height: 30px;
    border: 1px solid #b2c5c1;
    font: bold 12px/30px "open sans";
  }
  body #introduction .inner {
    flex-wrap: wrap;
  }
  body #introduction .inner div {
    width: 100%;
    padding: 40px 10px;
  }
  body #introduction .inner .introduction_txt h2 {
    font: bold 40px/1 "Source Serif Pro";
  }
  body #introduction .inner .introduction_txt h3 {
    font: bold 15px/1 "Source Serif Pro";
  }
  body #introduction .inner .introduction_txt p {
    font: normal 12px/1.3 "Source Serif Pro";
  }
  body #introduction .inner .introduction_txt a {
    width: 100%;
    height: 30px;
    font: 12px/30px "open sans";
    color: #fff;
  }
  body #introduction .inner .introduction_img img {
    height: 200px;
  }
  body #video .vid_inner .txt h1 {
    font: bold 24px/1 "open sans";
  }
  body #video .vid_inner .txt h1::after {
    width: 200px;
    top: 35px;
  }
  body #video .vid_inner .txt p {
    font: bold 12px/1 "open sans";
  }
  body #video .vid_inner figure {
    height: 25vh;
  }
  body #video .vid_inner a {
    font: bold 14px/1 "open sans";
  }
  body #product {
    padding: 50px 30px;
  }
  body #product .inner {
    width: 100%;
  }
  body #product .inner .inner_txt h1 {
    font: bold 24px/1 "open sans";
  }
  body #product .inner .inner_txt h1::after {
    width: 200px;
    top: 35px;
  }
  body #product .inner .inner_txt > p {
    font: bold 12px/1 "Open Sans";
  }
  body #product .inner .wrap {
    flex-wrap: wrap;
  }
  body #product .inner .wrap article {
    width: 100%;
    margin-right: 0;
    transform: translateY(0);
    transition: none;
    height: 250px;
    margin-bottom: 20px;
    opacity: 1;
  }
  body #product .inner .wrap article .img .img_txt {
    padding: 30px;
    height: 250px;
  }
  body #product .inner a {
    font: bold 12px/1 "open sans";
  }
  body #community {
    width: 100%;
    padding: 0;
  }
  body #community .com_inner {
    height: 60vh;
  }
  body #community .com_inner .wrap article,
  body #community .com_inner .wrap .swiper-wrapper,
  body #community .com_inner .swiper article,
  body #community .com_inner .swiper .swiper-wrapper {
    padding: 0;
  }
  body #community .com_inner .wrap article .comment,
  body #community .com_inner .wrap article .swiper-slide,
  body #community .com_inner .wrap .swiper-wrapper .comment,
  body #community .com_inner .wrap .swiper-wrapper .swiper-slide,
  body #community .com_inner .swiper article .comment,
  body #community .com_inner .swiper article .swiper-slide,
  body #community .com_inner .swiper .swiper-wrapper .comment,
  body #community .com_inner .swiper .swiper-wrapper .swiper-slide {
    position: absolute;
    height: 60%;
    padding: 0 10vw;
    top: 10vh;
  }
  body #community .com_inner .wrap article .comment h1,
  body #community .com_inner .wrap article .swiper-slide h1,
  body #community .com_inner .wrap .swiper-wrapper .comment h1,
  body #community .com_inner .wrap .swiper-wrapper .swiper-slide h1,
  body #community .com_inner .swiper article .comment h1,
  body #community .com_inner .swiper article .swiper-slide h1,
  body #community .com_inner .swiper .swiper-wrapper .comment h1,
  body #community .com_inner .swiper .swiper-wrapper .swiper-slide h1 {
    font: bold 24px/1 "Open Sans";
    color: #a18870;
  }
  body #community .com_inner .wrap article .comment .cus_img,
  body #community .com_inner .wrap article .swiper-slide .cus_img,
  body #community .com_inner .wrap .swiper-wrapper .comment .cus_img,
  body #community .com_inner .wrap .swiper-wrapper .swiper-slide .cus_img,
  body #community .com_inner .swiper article .comment .cus_img,
  body #community .com_inner .swiper article .swiper-slide .cus_img,
  body #community .com_inner .swiper .swiper-wrapper .comment .cus_img,
  body #community .com_inner .swiper .swiper-wrapper .swiper-slide .cus_img {
    width: 80px;
    height: 80px;
  }
  body #community .com_inner .wrap article .comment .cus_img img,
  body #community .com_inner .wrap article .swiper-slide .cus_img img,
  body #community .com_inner .wrap .swiper-wrapper .comment .cus_img img,
  body #community .com_inner .wrap .swiper-wrapper .swiper-slide .cus_img img,
  body #community .com_inner .swiper article .comment .cus_img img,
  body #community .com_inner .swiper article .swiper-slide .cus_img img,
  body #community .com_inner .swiper .swiper-wrapper .comment .cus_img img,
  body #community .com_inner .swiper .swiper-wrapper .swiper-slide .cus_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  body #community .com_inner .wrap article .comment h2,
  body #community .com_inner .wrap article .swiper-slide h2,
  body #community .com_inner .wrap .swiper-wrapper .comment h2,
  body #community .com_inner .wrap .swiper-wrapper .swiper-slide h2,
  body #community .com_inner .swiper article .comment h2,
  body #community .com_inner .swiper article .swiper-slide h2,
  body #community .com_inner .swiper .swiper-wrapper .comment h2,
  body #community .com_inner .swiper .swiper-wrapper .swiper-slide h2 {
    font: 16px/1 "Source Serif Pro";
    text-align: center;
  }
  body #community .com_inner .wrap article .comment h3,
  body #community .com_inner .wrap article .swiper-slide h3,
  body #community .com_inner .wrap .swiper-wrapper .comment h3,
  body #community .com_inner .wrap .swiper-wrapper .swiper-slide h3,
  body #community .com_inner .swiper article .comment h3,
  body #community .com_inner .swiper article .swiper-slide h3,
  body #community .com_inner .swiper .swiper-wrapper .comment h3,
  body #community .com_inner .swiper .swiper-wrapper .swiper-slide h3 {
    font: 12px/1 "Open Sans";
  }
  body #community .com_inner .swiper-button-next::after,
  body #community .com_inner .swiper-button-prev::after {
    font-size: 24px;
  }
  body #footer .inner {
    padding: 10px;
  }
  body #footer .inner h1 {
    font: bold 24px/1 "Open sans";
    margin-top: 2vh;
  }
  body #footer .inner > p {
    display: none;
  }
  body #footer .inner .sns {
    margin-bottom: 2vh;
  }
  body #footer .inner .sns li a {
    width: 22px;
    height: 22px;
  }
  body #footer .inner address {
    font: 12px/1.2 "open sans";
    margin-bottom: 1vh;
    color: #333;
    text-align: center;
  }
  body #footer .inner span {
    font: 12px/1 "open sans";
    color: #333;
  }
}

/*# sourceMappingURL=style.css.map */
