@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Serif+Pro:wght@300&display=swap");
body {
  width: 100%;
  height: 100%;
}
body #header_sub {
  width: 100%;
  border-bottom: 1px solid #ddd;
}
body #header_sub .inner {
  width: 1180px;
  margin: 0 auto;
  position: relative;
  height: 10vh;
}
body #header_sub .inner > h1 {
  position: absolute;
  top: 50%;
  margin-top: -14px;
  left: 0;
}
body #header_sub .inner > h1 a {
  font: bold 28px/1 "open sans";
  color: #476257;
}
body #header_sub .inner .menuWeb {
  background: lightgoldenrodyellow;
}
body #header_sub .inner .menuWeb #gnb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10%);
}
body #header_sub .inner .menuWeb #gnb li {
  float: left;
}
body #header_sub .inner .menuWeb #gnb li a {
  display: block;
  padding: 10px 15px;
  font: bold 16px/1 "open sans";
  color: #222;
}
body #header_sub .inner .menuWeb .util {
  position: absolute;
  right: 0;
  top: 50%;
}
body #header_sub .inner .menuWeb .util li {
  float: left;
  margin-left: 20px;
}
body #header_sub .inner .menuWeb .util li a i {
  font-size: 20px;
  color: #A18870;
}
body #header_sub .inner .btnCall {
  width: 20px;
  height: 20px;
  z-index: 1;
  position: absolute;
  top: 30px;
  right: 30px;
  display: none;
}
body #header_sub .inner .btnCall span {
  display: block;
  width: 100%;
  height: 2px;
  background: #37474f;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1px;
  text-indent: -9990px;
}
body #header_sub .inner .btnCall::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #37474f;
  position: absolute;
  top: 0;
  left: 0;
}
body #header_sub .inner .btnCall::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #37474f;
  position: absolute;
  bottom: 0;
  left: 0;
}
body #header_sub .inner .btnCall.on span {
  transform: translateX(100%);
  opacity: 0;
}
body #header_sub .inner .btnCall.on::before {
  top: 50%;
  margin-top: -1px;
  transform: rotate(45deg);
}
body #header_sub .inner .btnCall.on::after {
  bottom: 50%;
  margin-bottom: -1px;
  transform: rotate(-45deg);
}
body #header_sub .inner .menuMo {
  width: 270px;
  height: 100vh;
  background: #37474f;
  position: fixed;
  top: 0;
  left: -270px;
  z-index: 10;
  padding: 35px 30px;
  transition: 0.5s;
}
body #header_sub .inner .menuMo.on {
  left: 0;
}
body #header_sub .inner .menuMo > h1 {
  position: absolute;
  bottom: 30px;
  border-bottom: 1px solid #aaa;
  padding: 20px 0;
}
body #header_sub .inner .menuMo > h1 a {
  display: block;
  font: bold 24px/1 "open sans";
  color: #fff;
  margin-bottom: 10px;
}
body #header_sub .inner .menuMo > h1 span {
  display: block;
  font: bold 14px/1 "open sans";
  color: #aaa;
}
body #header_sub .inner .menuMo #gnbMo {
  margin-top: 30px;
}
body #header_sub .inner .menuMo #gnbMo li a {
  display: block;
  width: 100%;
  padding: 20px 0;
  font: bold 16px/1 "open sans";
  color: #888;
  text-align: center;
  border-bottom: 1px solid #666;
}
body .content {
  width: 100%;
  padding: 0 0 150px;
}
body .content .sub_visual {
  width: 100%;
  height: 200px;
  background: #bbb;
  margin-bottom: 100px;
}
body .content .inner {
  width: 1180px;
  margin: 0 auto;
  min-height: 500px;
}
body #footer_sub {
  width: 100%;
  background: #476257;
}
body #footer_sub .inner {
  width: 1180px;
  margin: 0 auto;
  padding: 2vw 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
body #footer_sub .inner .footer-logo {
  width: 580px;
  margin-right: 20px;
}
body #footer_sub .inner .footer-logo h1 {
  font: bold 24px/1 "Open sans";
  letter-spacing: 1px;
  color: #fff;
  margin-bottom: 20px;
}
body #footer_sub .inner .footer-logo > p {
  font: 12px/1.4 "Source Serif Pro";
  color: #fff;
}
body #footer_sub .inner .footer-logo > p strong {
  font-size: 14px;
}
body #footer_sub .inner .footer_contact {
  width: 280px;
  margin-right: 20px;
}
body #footer_sub .inner .footer_contact p {
  font: 14px/1.2 "open sans";
  color: #fff;
  margin-bottom: 20px;
}
body #footer_sub .inner .footer_contact address > p {
  font: 12px/1.2 "open sans";
  margin-bottom: 10px;
  color: #fff;
}
body #footer_sub .inner .footer_sns {
  width: 280px;
}
body #footer_sub .inner .footer_sns p {
  font: 14px/1.2 "open sans";
  color: #fff;
  margin-bottom: 20px;
}
body #footer_sub .inner .footer_sns ul li {
  float: left;
}
body #footer_sub .inner .footer_sns ul li a {
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 50%;
  margin-left: 10px;
  font-size: 12px;
  color: #476257;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #footer_sub .inner .footer_sns ul li:first-of-type a {
  margin-left: 0;
}
body #footer_sub .inner .copyright {
  margin-top: 20px;
  font: 12px/1 "Source Serif Pro";
  color: #fff;
}
body #footer_sub .inner::after {
  content: "";
  display: block;
  width: 1180px;
  height: 1px;
  background: #fff;
  position: absolute;
  bottom: 25%;
  left: 0;
}

@media screen and (max-width: 1179px) {
  body {
    width: 100%;
    height: 100%;
  }
  body #header_sub .inner {
    width: 100%;
  }
  body #header_sub .inner > h1 {
    left: 20px;
  }
  body #header_sub .inner .menuWeb {
    display: none;
  }
  body #header_sub .inner .btnCall {
    display: block;
  }
  body .content .inner {
    width: 100%;
    min-height: 400px;
  }
  body #footer_sub .inner {
    padding: 2vw 2vh;
  }
  body #footer_sub .inner .footer-logo {
    width: 51%;
  }
  body #footer_sub .inner .footer_contact {
    width: 25%;
  }
  body #footer_sub .inner .footer_sns {
    width: 20%;
    padding-left: 2vw;
  }
}
@media screen and (max-width: 539px) and (max-width: 1179px) {
  body {
    width: 100%;
    height: 100%;
  }
  body #header_sub .inner {
    width: 100%;
  }
  body #header_sub .inner > h1 {
    left: 20px;
  }
  body #header_sub .inner .menuWeb {
    display: none;
  }
  body #header_sub .inner .btnCall {
    display: block;
  }
  body .content .inner {
    width: 100%;
    min-height: 400px;
  }
  body #footer_sub .inner {
    width: 100%;
    padding: 10px;
    margin: 0;
    position: relative;
    align-items: center;
    justify-content: center;
  }
  body #footer_sub .inner .footer-logo {
    width: 100%;
    order: 1;
    margin-right: 0;
  }
  body #footer_sub .inner .footer-logo h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  body #footer_sub .inner .footer-logo > p {
    display: none;
  }
  body #footer_sub .inner .footer_contact {
    width: 100%;
    margin-right: 0;
    order: 3;
  }
  body #footer_sub .inner .footer_contact > p {
    display: none;
  }
  body #footer_sub .inner .footer_contact address > p {
    font: 12px/1.2 "open sans";
    margin-bottom: 10px;
    color: #fff;
    text-align: center;
  }
  body #footer_sub .inner .footer_sns {
    width: 100%;
    order: 2;
    padding-left: 0;
  }
  body #footer_sub .inner .footer_sns p {
    display: none;
  }
  body #footer_sub .inner .footer_sns > ul {
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
  }
  body #footer_sub .inner .footer_sns > ul li {
    margin-bottom: 10px;
  }
  body #footer_sub .inner .copyright {
    order: 4;
    margin-bottom: 20px;
  }
  body #footer_sub .inner::after {
    display: none;
  }
}
.gallery {
  width: 1180px;
  margin: 0 auto;
}
.gallery .inner #gallery {
  width: 100%;
}
.gallery .inner #gallery #searchBox {
  width: 100%;
  padding: 50px;
  font-size: 0;
}
.gallery .inner #gallery #searchBox #search {
  width: 380px;
  height: 30px;
  border: 1px solid #a1887f;
  padding-left: 10px;
  border-radius: 3px;
}
.gallery .inner #gallery #searchBox .btnSearch {
  width: 80px;
  height: 30px;
  background: #a1887f;
  font: bold 12px/30px "open sans";
  color: #222;
  text-align: center;
  cursor: pointer;
  margin-left: 10px;
  vertical-align: top;
  border-radius: 3px;
}
.gallery .inner #gallery #wrap {
  width: 100%;
}
.gallery .inner #gallery #wrap .loading {
  width: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 1s;
  display: none;
}
.gallery .inner #gallery #wrap .loading.off {
  opacity: 0;
}
.gallery .inner #gallery #wrap #list {
  width: 100%;
  opacity: 0;
  transform: translateY(100px);
  transition: 1s;
}
.gallery .inner #gallery #wrap #list.on {
  opacity: 1;
  transform: translateY(0px);
}
.gallery .inner #gallery #wrap #list::after {
  content: "";
  display: block;
  clear: both;
}
.gallery .inner #gallery #wrap #list li {
  float: left;
  width: 33.3333333333%;
  padding: 10px;
}
.gallery .inner #gallery #wrap #list li div {
  width: 100%;
  padding: 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.gallery .inner #gallery #wrap #list li div a > img {
  width: 100%;
  filter: grayscale(100%);
}
.gallery .inner #gallery #wrap #list li div p {
  font: 12px/1.2 "open sans";
  color: #777;
}
.gallery .inner #gallery #wrap #list li div span {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.gallery .inner #gallery #wrap #list li div span > img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}
.gallery .inner #gallery #wrap #list li div span strong {
  font: 11px/1 "arial";
  color: orange;
}

table {
  border-collapse: collapse;
}

.hidden {
  position: absolute;
  opacity: 0;
  left: -9999px;
}

.inner {
  width: 100%;
  padding: 10px 0;
}
.inner .join {
  width: 1180px;
  margin: 0 auto;
}
.inner .join .join_inner {
  width: 100%;
}
.inner .join .join_inner h1 {
  font: 40px/1 "Source Serif Pro";
  color: #555;
  margin-bottom: 50px;
  text-align: center;
}
.inner .join .join_inner table {
  width: 100%;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
}
.inner .join .join_inner table th, .inner .join .join_inner table td {
  border-bottom: 1px solid #ddd;
  padding: 15px 25px;
}
.inner .join .join_inner table th {
  width: 30%;
}
.inner .join .join_inner table th input[type=reset], .inner .join .join_inner table th input[type=submit] {
  width: 20%;
  height: 40px;
  border: 1px solid #333;
  margin: 10px;
  font: bold 14px/40px "open sans";
  color: #555;
  letter-spacing: 2px;
  border-radius: 4px;
  cursor: pointer;
  transition: 1s;
}
.inner .join .join_inner table th input[type=reset]:hover, .inner .join .join_inner table th input[type=submit]:hover {
  background: #333;
  color: #fff;
}
.inner .join .join_inner table td {
  border-left: 1px solid #aaa;
}
.inner .join .join_inner table td input[type=text], .inner .join .join_inner table td input[type=password], .inner .join .join_inner table td select {
  width: 50%;
  background: rgba(0, 0, 0, 0.03);
  padding: 10px;
  border: 1px solid #aaa;
}
.inner .join .join_inner table td input[type=radio], .inner .join .join_inner table td input[type=checkbox] {
  margin-right: 30px;
}
.inner .join .join_inner table td textarea {
  resize: none;
  width: 70%;
  height: 150px;
  background: rgba(0, 0, 0, 0.03);
  padding: 10px;
  border: 1px solid #aaa;
}
.inner .join .join_inner table p {
  font: 11px/1 "맑은 고딕";
  color: lightcoral;
  margin-top: 5px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  height: 100%;
}
body #header {
  width: 100%;
  height: 100vh;
  position: relative;
}
body #header::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 7vh;
  background: #b2c5c1;
  opacity: 0.4;
  z-index: 0;
}
body #header .inner {
  color: #000;
}
body #header .inner .background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
body #header .inner .background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(60%);
}
body #header .inner .header_nav {
  width: 1180px;
  height: 25vh;
  margin: 0 auto;
  position: relative;
}
body #header .inner .header_nav h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body #header .inner .header_nav h1 a {
  font: bold 30px/1 "Open Sans";
  letter-spacing: 3px;
  color: #fff;
}
body #header .inner .header_nav .menuWeb #gnb {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
body #header .inner .header_nav .menuWeb #gnb li a {
  display: block;
  padding: 12px 50px;
  font: bold 16px/1 "Open Sans";
  letter-spacing: 1.3px;
  color: #fff;
}
body #header .inner .header_nav .menuWeb #gnb li a:hover {
  background: #b2c5c1;
}
body #header .inner .header_nav .menuWeb #gnb::before, body #header .inner .header_nav .menuWeb #gnb::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #fff;
  position: absolute;
}
body #header .inner .header_nav .menuWeb #gnb::before {
  bottom: 40px;
}
body #header .inner .header_nav .menuWeb #gnb::after {
  bottom: 0;
}
body #header .inner .header_nav .menuWeb .util {
  position: absolute;
  top: 20px;
  right: 36px;
  z-index: 1;
}
body #header .inner .header_nav .menuWeb .util li {
  float: left;
  margin-left: 30px;
}
body #header .inner .header_nav .menuWeb .util li a {
  font: 16px/1 "Open Sans";
  color: #fff;
}
body #header .inner .txt {
  width: 1180px;
  height: 75vh;
  margin: 0 auto;
  position: relative;
  padding: 100px 200px;
}
body #header .inner .txt h2 {
  font: 40px/1 "Source Serif Pro";
  color: #fff;
  margin-top: 150px;
  text-align: center;
}
body #header .inner .txt p {
  font: 20px/1.4 "Source Serif Pro";
  color: #fff;
  margin-top: 30px;
  text-align: center;
}
body #header .inner .txt a {
  display: block;
  width: 300px;
  height: 40px;
  border: 2px solid #b2c5c1;
  font: bold 14px/40px "open sans";
  color: #fff;
  letter-spacing: 3px;
  text-align: center;
  margin-top: 30px;
  margin-left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}
body #header .inner .txt a:hover {
  background-color: #b2c5c1;
}
body #header .inner .btnCall {
  width: 20px;
  height: 20px;
  z-index: 1;
  position: absolute;
  top: 3vh;
  right: 30px;
  display: none;
}
body #header .inner .btnCall span {
  display: block;
  width: 100%;
  height: 2px;
  background: #37474f;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1px;
  text-indent: -9990px;
}
body #header .inner .btnCall::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #37474f;
  position: absolute;
  top: 0;
  left: 0;
}
body #header .inner .btnCall::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #37474f;
  position: absolute;
  bottom: 0;
  left: 0;
}
body #header .inner .btnCall.on span {
  transform: translateX(100%);
  opacity: 0;
}
body #header .inner .btnCall.on::before {
  top: 50%;
  margin-top: -1px;
  transform: rotate(45deg);
}
body #header .inner .btnCall.on::after {
  bottom: 50%;
  margin-bottom: -1px;
  transform: rotate(-45deg);
}
body #header .inner .menuMo {
  width: 270px;
  height: 100vh;
  background: #37474f;
  position: fixed;
  top: 0;
  left: -270px;
  z-index: 10;
  padding: 35px 30px;
  transition: 0.5s;
}
body #header .inner .menuMo.on {
  left: 0;
}
body #header .inner .menuMo h1 {
  position: absolute;
  bottom: 30px;
  border-bottom: 1px solid #aaa;
  padding: 20px 0;
}
body #header .inner .menuMo h1 a {
  display: block;
  font: bold 24px/1 "open sans";
  color: #fff;
  margin-bottom: 10px;
}
body #header .inner .menuMo h1 span {
  display: block;
  font: bold 14px/1 "open sans";
  color: #aaa;
}
body #header .inner .menuMo #gnbMo {
  margin-top: 30px;
}
body #header .inner .menuMo #gnbMo li a {
  display: block;
  width: 100%;
  padding: 20px 0;
  font: bold 16px/1 "open sans";
  color: #888;
  text-align: center;
  border-bottom: 1px solid #666;
}
body #introduction {
  width: 100%;
  background: #F0E8E4;
  overflow: hidden;
}
body #introduction .inner {
  width: 1180px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
}
body #introduction .inner div {
  width: 48%;
  height: 100%;
  padding: 150px 0;
}
body #introduction .inner .introduction_txt h2 {
  font: bold 50px/1 "Source Serif Pro";
  color: #222;
  letter-spacing: 5px;
  margin-bottom: 10px;
}
body #introduction .inner .introduction_txt h3 {
  font: bold 20px/1 "Source Serif Pro";
  color: #476257;
  margin-bottom: 30px;
}
body #introduction .inner .introduction_txt p {
  font: normal 17px/1.3 "Source Serif Pro";
  color: #666;
}
body #introduction .inner .introduction_txt a {
  display: block;
  width: 40%;
  height: 40px;
  background: #476257;
  margin-top: 30px;
  font: 14px/40px "open sans";
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
  border-radius: 3px;
}
body #introduction .inner .introduction_img img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  transform-origin: top;
  transform: rotateY(200deg) translateY(100px);
  opacity: 0;
  transition: 0.5s;
}
body #introduction .inner .introduction_img p {
  font: normal 15px/1 "Source Serif Pro";
  color: #666;
  text-align: end;
}
body #introduction.on .inner .introduction_img img {
  opacity: 1;
  transform: rotateY(0deg) translateY(0px);
}
body #video {
  width: 100%;
  padding: 30px;
  background: #f5f5f5;
}
body #video .vid_inner {
  width: 100%;
  position: relative;
}
body #video .vid_inner .txt {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body #video .vid_inner .txt h1 {
  font: bold 30px/1 "open sans";
  color: #a18870;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
body #video .vid_inner .txt h1::after {
  content: "";
  display: block;
  width: 300px;
  height: 1px;
  background: #476257;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
}
body #video .vid_inner .txt p {
  font: bold 15px/1 "open sans";
  color: #8a8a8a;
  margin-bottom: 30px;
}
body #video .vid_inner figure {
  width: 100%;
  height: 60vh;
  overflow: hidden;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
}
body #video .vid_inner figure video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body #video .vid_inner a {
  display: block;
  width: 80px;
  padding: 5px;
  font: bold 15px/1 "open sans";
  color: #a18870;
  border-bottom: 1px solid #a18870;
  text-align: center;
  margin-top: 30px;
  margin-left: 50%;
  transform: translateX(-50%);
}
body #product {
  width: 100%;
  padding: 100px 0;
  background: #F0E8E4;
}
body #product .inner {
  width: 1180px;
  margin: 0 auto;
  position: relative;
}
body #product .inner .inner_txt {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body #product .inner .inner_txt h1 {
  font: bold 30px/1 "open sans";
  color: #a18870;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
body #product .inner .inner_txt h1::after {
  content: "";
  display: block;
  width: 300px;
  height: 1px;
  background: #476257;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
}
body #product .inner .inner_txt > p {
  font: bold 15px/1 "Open Sans";
  color: #8a8a8a;
  margin-bottom: 50px;
}
body #product .inner .wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}
body #product .inner .wrap article {
  width: 275px;
  position: relative;
  overflow: hidden;
  margin-right: 1vw;
  transform: translateY(100px);
  transition: 0.5s;
  opacity: 0;
}
body #product .inner .wrap article:nth-of-type(1) {
  transition-delay: 0s;
}
body #product .inner .wrap article:nth-of-type(2) {
  transition-delay: 0.2s;
}
body #product .inner .wrap article:nth-of-type(3) {
  transition-delay: 0.4s;
}
body #product .inner .wrap article .img {
  width: 100%;
  height: 335px;
  overflow: hidden;
}
body #product .inner .wrap article .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}
body #product .inner .wrap article .img .img_txt {
  width: 100%;
  height: 335px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.5s;
}
body #product .inner .wrap article .img .img_txt p {
  font: 15px/1.3 "open sans";
  color: #fff;
}
body #product .inner .wrap article .img .img_txt a {
  display: block;
  width: 50%;
  height: 40px;
  border: 1px solid #fff;
  font: 15px/30px "open sans";
  color: #fff;
  text-align: center;
}
body #product .inner .wrap article .img .img_txt a:hover {
  background: #fff;
  color: #222;
}
body #product .inner .wrap article .img:hover img {
  transform: scale(1.2);
}
body #product .inner .wrap article .img:hover .img_txt {
  background: #222;
  opacity: 0.7;
}
body #product .inner .wrap article p {
  font: bold 15px/1 "Open sans";
  color: #222;
  text-align: center;
  margin: 20px 0;
}
body #product .inner a {
  display: block;
  width: 80px;
  padding: 5px;
  font: bold 15px/1 "open sans";
  color: #a18870;
  border-bottom: 1px solid #a18870;
  text-align: center;
  margin-top: 30px;
  margin-left: 50%;
  transform: translateX(-50%);
}
body #product.on .inner .wrap article {
  opacity: 1;
  transform: translateY(0px);
}
body #community {
  width: 100%;
  padding: 30px;
  background: #f5f5f5;
}
body #community .com_inner {
  width: 100%;
  height: 80vh;
  margin: 0 auto;
  background: url(../img/comment.jpg) no-repeat center top/cover;
  position: relative;
  overflow: hidden;
}
body #community .com_inner .wrap, body #community .com_inner .swiper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
body #community .com_inner .wrap article, body #community .com_inner .wrap .swiper-wrapper, body #community .com_inner .swiper article, body #community .com_inner .swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  padding: 7vh 15vw;
}
body #community .com_inner .wrap article .comment, body #community .com_inner .wrap article .swiper-slide, body #community .com_inner .wrap .swiper-wrapper .comment, body #community .com_inner .wrap .swiper-wrapper .swiper-slide, body #community .com_inner .swiper article .comment, body #community .com_inner .swiper article .swiper-slide, body #community .com_inner .swiper .swiper-wrapper .comment, body #community .com_inner .swiper .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
  padding: 0 10vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body #community .com_inner .wrap article .comment h1, body #community .com_inner .wrap article .swiper-slide h1, body #community .com_inner .wrap .swiper-wrapper .comment h1, body #community .com_inner .wrap .swiper-wrapper .swiper-slide h1, body #community .com_inner .swiper article .comment h1, body #community .com_inner .swiper article .swiper-slide h1, body #community .com_inner .swiper .swiper-wrapper .comment h1, body #community .com_inner .swiper .swiper-wrapper .swiper-slide h1 {
  font: bold 30px/1 "Open Sans";
  margin: 15vh 0 10vh;
  color: #a18870;
}
body #community .com_inner .wrap article .comment .cus_img, body #community .com_inner .wrap article .swiper-slide .cus_img, body #community .com_inner .wrap .swiper-wrapper .comment .cus_img, body #community .com_inner .wrap .swiper-wrapper .swiper-slide .cus_img, body #community .com_inner .swiper article .comment .cus_img, body #community .com_inner .swiper article .swiper-slide .cus_img, body #community .com_inner .swiper .swiper-wrapper .comment .cus_img, body #community .com_inner .swiper .swiper-wrapper .swiper-slide .cus_img {
  width: 100px;
  height: 100px;
  margin-bottom: 5vh;
}
body #community .com_inner .wrap article .comment .cus_img img, body #community .com_inner .wrap article .swiper-slide .cus_img img, body #community .com_inner .wrap .swiper-wrapper .comment .cus_img img, body #community .com_inner .wrap .swiper-wrapper .swiper-slide .cus_img img, body #community .com_inner .swiper article .comment .cus_img img, body #community .com_inner .swiper article .swiper-slide .cus_img img, body #community .com_inner .swiper .swiper-wrapper .comment .cus_img img, body #community .com_inner .swiper .swiper-wrapper .swiper-slide .cus_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
body #community .com_inner .wrap article .comment h2, body #community .com_inner .wrap article .swiper-slide h2, body #community .com_inner .wrap .swiper-wrapper .comment h2, body #community .com_inner .wrap .swiper-wrapper .swiper-slide h2, body #community .com_inner .swiper article .comment h2, body #community .com_inner .swiper article .swiper-slide h2, body #community .com_inner .swiper .swiper-wrapper .comment h2, body #community .com_inner .swiper .swiper-wrapper .swiper-slide h2 {
  font: 18px/1 "Source Serif Pro";
  text-align: center;
  margin-bottom: 5vh;
}
body #community .com_inner .wrap article .comment h3, body #community .com_inner .wrap article .swiper-slide h3, body #community .com_inner .wrap .swiper-wrapper .comment h3, body #community .com_inner .wrap .swiper-wrapper .swiper-slide h3, body #community .com_inner .swiper article .comment h3, body #community .com_inner .swiper article .swiper-slide h3, body #community .com_inner .swiper .swiper-wrapper .comment h3, body #community .com_inner .swiper .swiper-wrapper .swiper-slide h3 {
  font: 14px/1 "Open Sans";
}
body #footer {
  width: 100%;
  background: #476257;
}
body #footer .inner {
  width: 1180px;
  margin: 0 auto;
  padding: 2vw 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body #footer .inner h1 {
  font: bold 30px/1 "Open sans";
  letter-spacing: 3px;
  color: #fff;
  margin-bottom: 2vh;
}
body #footer .inner > p {
  font: 14px/1.3 "Source Serif Pro";
  padding: 0 10vw;
  text-align: center;
  color: #fff;
  margin-bottom: 3vh;
}
body #footer .inner > p strong {
  font-size: 18px;
}
body #footer .inner .sns {
  display: flex;
  margin-bottom: 3vh;
}
body #footer .inner .sns li a {
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 50%;
  margin-left: 20px;
  font-size: 12px;
  color: #476257;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #footer .inner .sns li:first-of-type a {
  margin-left: 0;
}
body #footer .inner address {
  font: 14px/1.2 "open sans";
  margin-bottom: 1vh;
  color: #333;
  text-align: center;
}
body #footer .inner span {
  font: 14px/1 "open sans";
  color: #333;
}

@media screen and (max-width: 1179px) {
  body #header::after {
    height: 7vh;
    opacity: 1;
    z-index: 0;
  }
  body #header .inner {
    width: 100%;
    height: 50%;
  }
  body #header .inner .header_nav {
    width: 100%;
    height: 10vh;
    z-index: 1;
  }
  body #header .inner .header_nav h1 {
    position: absolute;
    top: 2vh;
    left: 30px;
    transform: translate(0, 0);
  }
  body #header .inner .header_nav h1 a {
    font: bold 25px/1 "Open Sans";
  }
  body #header .inner .header_nav .menuWeb {
    display: none;
  }
  body #header .inner .txt {
    width: 100%;
    height: 90vh;
    transform: translateY(20%);
  }
  body #header .inner .btnCall {
    display: block;
    top: 3vh;
  }
  body #introduction {
    padding: 0 20px;
  }
  body #introduction .inner {
    width: 100%;
  }
  body #introduction .inner div {
    width: 48%;
    height: 100%;
    padding: 150px 0;
  }
  body #video .vid_inner figure {
    height: 50vh;
  }
  body #product .inner {
    width: 100%;
  }
  body #footer .inner {
    width: 100%;
  }
}
@media screen and (max-width: 539px) {
  body #header {
    height: 60%;
  }
  body #header::after {
    height: 10vh;
  }
  body #header .inner .header_nav h1 {
    top: 4vh;
  }
  body #header .inner .txt {
    width: 100%;
    height: 60vh;
    padding: 20px 30px;
  }
  body #header .inner .txt h2 {
    font: 24px/1 "Source Serif Pro";
  }
  body #header .inner .txt p {
    font: 12px/1.4 "Source Serif Pro";
  }
  body #header .inner .txt a {
    width: 100%;
    height: 30px;
    border: 1px solid #b2c5c1;
    font: bold 12px/30px "open sans";
  }
  body #header .inner .btnCall {
    top: 5vh;
  }
  body #introduction .inner {
    flex-wrap: wrap;
  }
  body #introduction .inner div {
    width: 100%;
    padding: 40px 10px;
  }
  body #introduction .inner .introduction_txt h2 {
    font: bold 40px/1 "Source Serif Pro";
  }
  body #introduction .inner .introduction_txt h3 {
    font: bold 15px/1 "Source Serif Pro";
  }
  body #introduction .inner .introduction_txt p {
    font: normal 12px/1.3 "Source Serif Pro";
  }
  body #introduction .inner .introduction_txt a {
    width: 100%;
    height: 30px;
    font: 12px/30px "open sans";
    color: #fff;
  }
  body #video .vid_inner .txt h1 {
    font: bold 24px/1 "open sans";
  }
  body #video .vid_inner .txt h1::after {
    width: 200px;
    top: 35px;
  }
  body #video .vid_inner .txt p {
    font: bold 12px/1 "open sans";
  }
  body #video .vid_inner figure {
    height: 40vh;
  }
  body #video .vid_inner a {
    font: bold 14px/1 "open sans";
  }
  body #product {
    padding: 100px 0;
  }
  body #product .inner {
    width: 100%;
  }
  body #product .inner .inner_txt h1 {
    font: bold 24px/1 "open sans";
  }
  body #product .inner .inner_txt h1::after {
    width: 200px;
    top: 35px;
  }
  body #product .inner .inner_txt > p {
    font: bold 12px/1 "Open Sans";
  }
  body #product .inner .wrap {
    flex-wrap: wrap;
  }
  body #product .inner .wrap article {
    width: 300px;
  }
  body #product .inner .wrap article .img .img_txt {
    padding: 30px;
  }
  body #product .inner a {
    font: bold 12px/1 "open sans";
  }
  body #community {
    padding: 0;
  }
  body #community .com_inner {
    height: 60vh;
  }
  body #community .com_inner .wrap article, body #community .com_inner .wrap .swiper-wrapper, body #community .com_inner .swiper article, body #community .com_inner .swiper .swiper-wrapper {
    padding: 0;
  }
  body #community .com_inner .wrap article .comment, body #community .com_inner .wrap article .swiper-slide, body #community .com_inner .wrap .swiper-wrapper .comment, body #community .com_inner .wrap .swiper-wrapper .swiper-slide, body #community .com_inner .swiper article .comment, body #community .com_inner .swiper article .swiper-slide, body #community .com_inner .swiper .swiper-wrapper .comment, body #community .com_inner .swiper .swiper-wrapper .swiper-slide {
    padding: 0 10vw;
  }
  body #community .com_inner .wrap article .comment h1, body #community .com_inner .wrap article .swiper-slide h1, body #community .com_inner .wrap .swiper-wrapper .comment h1, body #community .com_inner .wrap .swiper-wrapper .swiper-slide h1, body #community .com_inner .swiper article .comment h1, body #community .com_inner .swiper article .swiper-slide h1, body #community .com_inner .swiper .swiper-wrapper .comment h1, body #community .com_inner .swiper .swiper-wrapper .swiper-slide h1 {
    font: bold 20px/1 "Open Sans";
    margin: 12vh 0 5vh;
  }
  body #community .com_inner .wrap article .comment .cus_img, body #community .com_inner .wrap article .swiper-slide .cus_img, body #community .com_inner .wrap .swiper-wrapper .comment .cus_img, body #community .com_inner .wrap .swiper-wrapper .swiper-slide .cus_img, body #community .com_inner .swiper article .comment .cus_img, body #community .com_inner .swiper article .swiper-slide .cus_img, body #community .com_inner .swiper .swiper-wrapper .comment .cus_img, body #community .com_inner .swiper .swiper-wrapper .swiper-slide .cus_img {
    width: 50px;
    height: 50px;
  }
  body #community .com_inner .wrap article .comment h2, body #community .com_inner .wrap article .swiper-slide h2, body #community .com_inner .wrap .swiper-wrapper .comment h2, body #community .com_inner .wrap .swiper-wrapper .swiper-slide h2, body #community .com_inner .swiper article .comment h2, body #community .com_inner .swiper article .swiper-slide h2, body #community .com_inner .swiper .swiper-wrapper .comment h2, body #community .com_inner .swiper .swiper-wrapper .swiper-slide h2 {
    font: 12px/1 "Source Serif Pro";
  }
  body #community .com_inner .wrap article .comment h3, body #community .com_inner .wrap article .swiper-slide h3, body #community .com_inner .wrap .swiper-wrapper .comment h3, body #community .com_inner .wrap .swiper-wrapper .swiper-slide h3, body #community .com_inner .swiper article .comment h3, body #community .com_inner .swiper article .swiper-slide h3, body #community .com_inner .swiper .swiper-wrapper .comment h3, body #community .com_inner .swiper .swiper-wrapper .swiper-slide h3 {
    font: 12px/1 "Open Sans";
  }
  body #footer .inner {
    padding: 10px;
  }
  body #footer .inner h1 {
    font: bold 24px/1 "Open sans";
    margin-top: 2vh;
  }
  body #footer .inner > p {
    display: none;
  }
  body #footer .inner .sns {
    margin-bottom: 2vh;
  }
  body #footer .inner .sns li a {
    width: 22px;
    height: 22px;
  }
  body #footer .inner address {
    font: 12px/1.2 "open sans";
    margin-bottom: 1vh;
    color: #333;
    text-align: center;
  }
  body #footer .inner span {
    font: 12px/1 "open sans";
    color: #333;
  }
}

/*# sourceMappingURL=style.css.map */
