.department {
  .sub_visual {
    background: url(../img/sub_img1.jpg) no-repeat bottom/cover;
  }
  .inner {
    width: 1180px;
    margin: 0 auto;
    #members {
      width: 100%;
      .m_inner {
        h1 {
          font: 40px/1 'Source Serif Pro';
          color: #555;
          margin-bottom: 20px;
          text-align: center;
        }
        h2 {
          font: 20px/1 'Source Serif Pro';
          color: #555;
          text-align: center;
          strong {
            color: #00bfa5;
          }
          margin-bottom: 30px;
        }
        .wrap {
          width: 100%;
          &::after {
            content: '';
            display: block;
            clear: both;
          }
          article {
            width: 50%;
            height: 295px;
            float: left;
            display: flex;
            transition: 0.5s;
            overflow: hidden;
            &:first-of-type {
              width: 100%;
            }
            div {
              width: 50%;
              height: 100%;
            }
            .img {
              overflow: hidden;
              width: 50%;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            .card_container {
              display: inline-block;
              width: 50%;
              height: 100%;
              margin: 0 auto;
              perspective: 900px;
              .card {
                position: relative;
                width: 100%;
                height: 100%;
                transition: 0.5s ease;
                transform-style: preserve-3d;
                .front,
                .back {
                  position: absolute;
                  background-color: #efefef;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  color: #222;
                  backface-visibility: hidden;
                }
                .front {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  font-size: 30px;
                }

                .back {
                  background: #efefef;
                  position: relative;
                  padding: 30px;
                  transform: rotateY(180deg);
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  // &::after {
                  //   content: '';
                  //   display: block;
                  //   width: 100px;
                  //   height: 2px;
                  //   background: #222;
                  //   position: absolute;
                  //   bottom: 35%;
                  //   left: 50%;
                  //   margin-left: -50px;
                  // }
                  h3 {
                    font: bold 20px/1 'open sans';
                    color: #000;
                    // margin-top: 50px;
                    text-align: center;
                    // margin-bottom: 30px;
                    text-transform: uppercase;
                  }
                  p {
                    font: 14px/1.4 'open sans';
                    color: #666;
                    text-align: center;
                  }
                  a {
                    // position: absolute;
                    // bottom: 20%;
                    // left: 50%;
                    // margin-left: -10px;
                    text-align: center;
                    padding: 5% 0;
                    i {
                      font-size: 20px;
                      color: #222;
                    }
                    &::before {
                      content: '';
                      display: block;
                      width: 100px;
                      height: 2px;
                      background: #222;
                      position: absolute;
                      margin-top: -7%;
                      left: 50%;
                      margin-left: -50px;
                    }
                  }
                }
              }
            }
            &:hover .card {
              transform: rotateY(180deg);
            }
            &:nth-of-type(1) .card_container .card .front,
            &:nth-of-type(5) .card_container .card .front {
              background: #b2dfdb;
            }
            &:hover img {
              transform: scale(1.2);
              filter: grayscale(0.2);
            }
          }
          article:nth-child(4),
          article:nth-child(5) {
            flex-direction: row-reverse;
          }
        }
      }
    }
  }
}

//tablet 구간
@media screen and (max-width: 1179px) {
  .department {
    .inner {
      width: 100%;
      #members {
        width: 100%;
        .m_inner {
          padding: 10px;
        }
      }
    }
  }
}

//mobile 구간
@media screen and (max-width: 539px) {
  .department {
    .inner {
      #members {
        width: 100%;
        .m_inner {
          h1 {
            font: 26px/1 'Source Serif Pro';
          }
          h2 {
            font: 14px/1 'Source Serif Pro';
          }
          .wrap {
            article {
              width: 100%;
              height: 45vh;
              display: block;
              div {
                width: 100%;
                height: 50%;
              }
              .img {
                width: 100%;
                img {
                  object-fit: fill;
                }
              }
              .card_container {
                width: 100%;
                height: 50%;
                .card {
                  .front {
                    font-size: 20px;
                    background: #b2dfdb;
                  }

                  .back {
                    padding: 15px;
                    transform: rotateY(180deg);
                    h3 {
                      font: bold 14px/1 'open sans';
                    }
                    p {
                      font: 12px/1.4 'open sans';
                    }
                    a {
                      padding: 2% 0;
                      i {
                        font-size: 12px;
                      }
                      &::before {
                        content: '';
                        margin-top: -4%;
                      }
                    }
                  }
                }
              }
              &:hover .card {
                transform: rotateY(180deg);
              }
              &:hover img {
                transform: none;
                filter: none;
              }
            }
          }
        }
      }
    }
  }
}
