body{
    width: 100%; height: 100%;
    #header_sub{
        width: 100%; border-bottom:1px solid #ddd;
        .inner{
            width: 1180px; margin: 0 auto;
            position: relative; height: 10vh;
            >h1{
                position: absolute; top: 50%; margin-top: -14px;
                left: 0;
                a{
                    font: bold 28px/1 'open sans';
                    color: #476257;
                }
            }
            .menuWeb{
                background: lightgoldenrodyellow;
                #gnb{
                    position: absolute;
                    top: 50%; left: 50%; transform: translate(-50%, -10%);
                    li{
                        float: left;
                        a{
                            display: block; padding: 10px 15px;
                            font: bold 16px/1 'open sans'; color: #222;
                        }
                    } 
                }
                .util{
                    position: absolute; right: 0; top: 50%;
                    li{
                        float: left; margin-left: 20px;
                        a{
                            i{
                                font-size: 20px; color: 
                                #A18870;
                            }
                        }
                    }
                }
            }
            .btnCall{
                width: 20px; height: 20px;
                z-index: 1;
                position: absolute; top: 30px; right: 30px;
                display: none;
                span{
                    display: block; width: 100%; height: 2px;
                    background: #37474f;
                    position: absolute; top: 50%; left: 0;
                    margin-top: -1px;
                    text-indent: -9990px;
                }
                &::before{
                    content: ''; display: block; width: 100%; height: 2px;
                    background: #37474f;
                    position: absolute; top: 0; left: 0;
                }
                &::after{
                    content: ''; display: block; width: 100%; height: 2px;
                    background: #37474f;
                    position: absolute; bottom: 0; left: 0;
                }
                &.on{
                    span{
                        transform: translateX(100%); opacity: 0;
                    }
                    &::before{
                        top: 50%; margin-top: -1px;
                        transform: rotate(45deg);
                    }
                    &::after{
                        bottom: 50%; margin-bottom: -1px;
                        transform: rotate(-45deg);
                    }
                }
            }
            .menuMo{
                width: 270px; height: 100vh; background: #37474f;
                position: fixed; top: 0; left: -270px;
                z-index: 10; padding: 35px 30px; transition: 0.5s;
                &.on{
                    left: 0;
                }
                >h1{
                    position: absolute;
                    bottom: 30px; border-bottom: 1px solid #aaa;
                    padding: 20px 0;
                    a{
                        display: block; font: bold 24px/1 'open sans';
                        color: #fff; margin-bottom: 10px;
                    }
                    span{
                        display: block; font:bold 14px/1 'open sans'; color: #aaa;
                    }
                }
                #gnbMo{
                    margin-top: 30px;
                    li{
                        a{
                            display: block;
                            width: 100%; padding: 20px 0;
                            font: bold 16px/1 'open sans';
                            color: #888; text-align: center;
                            border-bottom: 1px solid #666;
                        }
                    }
                }
            }
        }
    }

    .content{
        width: 100%; padding: 0 0 150px;
        .sub_visual{
            width: 100%; height: 200px;
            background: #bbb; margin-bottom: 100px;
        }
        .inner{
            width: 1180px; margin: 0 auto; min-height: 500px;
        }
    }

    #footer_sub{
        width: 100%;
        background: #476257;
        .inner{
            width: 1180px; margin: 0 auto; padding: 2vw 0;
            position: relative;
            display: flex; flex-wrap: wrap;
            .footer-logo{
                width: 580px; margin-right: 20px;
                h1{
                    font: bold 24px/1 'Open sans';
                    letter-spacing: 1px;
                    color: #fff;
                    margin-bottom: 20px;
                }
    
                >p{
                    font: 12px/1.4 'Source Serif Pro';
                    color: #fff;
                    strong{font-size: 14px;}
                }
            }
            .footer_contact{
                width: 280px; margin-right: 20px;
                p{
                    font: 14px/1.2 'open sans'; color: #fff;
                    margin-bottom: 20px;
                }
                address{
                    >p{
                        font: 12px/1.2 'open sans';
                        margin-bottom: 10px; color: #fff;

                    }
                }
            }
            .footer_sns{
                width: 280px;
                p{
                    font: 14px/1.2 'open sans'; color: #fff;
                    margin-bottom: 20px;
                }
                ul{
                    li{
                        float: left;
                        a{
                            width: 30px; height: 30px;
                            background: #fff;
                            border-radius: 50%; margin-left: 10px;
                            font-size: 12px; color: #476257;
        
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                        &:first-of-type a{margin-left: 0;}
                    }
                }
            }
            .copyright{
                margin-top: 20px;
                font: 12px/1 'Source Serif Pro'; color: #fff;
            }
            &::after{
                content: ""; display: block;
                width: 1180px; height: 1px;
                background: #fff;
                position: absolute;
                bottom: 25%; left: 0;
            }

        }
    }
}

//tablet
@media screen and (max-width:1179px){
    body{
        width: 100%; height: 100%;
        #header_sub{
            .inner{
                width: 100%;
                >h1{
                    left: 20px;
                }
                .menuWeb{
                    display: none;
                }
                .btnCall{
                    display: block;
                }
            }
        }
    
        .content{
            .inner{
                width: 100%; min-height: 400px;
            }
        }
    
        #footer_sub{
            .inner{
                padding: 2vw 2vh;
                .footer-logo{
                    width: 51%;
                }
                .footer_contact{
                    width: 25%;
                }
                .footer_sns{
                    width: 20%; padding-left: 2vw;
                }
            }
        }
    }
}

//mobile 구간
@media screen and (max-width:539px){
    @media screen and (max-width:1179px){
        body{
            width: 100%; height: 100%;
            #header_sub{
                .inner{
                    width: 100%;
                    >h1{
                        left: 20px;
                    }
                    .menuWeb{
                        display: none;
                    }
                    .btnCall{
                        display: block;
                    }
                }
            }
        
            .content{
                .inner{
                    width: 100%; min-height: 400px;
                }
            }
        
            #footer_sub{
                .inner{
                    width: 100%; padding: 10px; margin: 0;
                    position: relative;
                    align-items: center;
                    justify-content: center;
                    .footer-logo{
                        width: 100%; order: 1; margin-right: 0;
                        h1{
                            text-align: center;
                            margin-top: 10px;
                            margin-bottom: 20px;
                        }
                        >p{
                            display: none;
                        }
                    }
                    .footer_contact{
                        width: 100%; margin-right: 0; order: 3;
                        >p{
                            display: none;
                        }
                        address{
                            >p{
                                font: 12px/1.2 'open sans';
                                margin-bottom: 10px; color: #fff;
                                text-align: center;
                            }
                        }
                    }
                    .footer_sns{
                        width: 100%; order: 2; padding-left: 0;
                        p{
                            display: none;
                        }
                        >ul{
                            position: relative;
                            display: inline-block;
                            left: 50%; transform: translateX(-50%);
                            li{
                                margin-bottom: 10px;
                            }
                        }
                    }
                    .copyright{
                        order: 4;
                        margin-bottom: 20px;
                    }
                    &::after{
                        display: none;
                    }
        
                }
            }
        }
    }
}