@charset "UTF-8";
@import 'sub_page.scss';
@import 'gallery.scss';
@import 'validation.scss';
@import 'department.scss';
@import 'location.scss';
@import 'product.scss';
@import 'community.scss';
@import 'youtube.scss';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display&family=Source+Serif+Pro:wght@300&display=swap');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  width: 100%;
  height: 100%;
  #header {
    width: 100%;
    height: 100vh;
    position: relative;
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 7vh;
      background: #b2c5c1;
      opacity: 0.4;
      z-index: 0;
    }
    .inner {
      color: #000;
      .background {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          filter: brightness(60%);
        }
      }
      .header_nav {
        width: 1180px;
        height: 25vh;
        margin: 0 auto;
        position: relative;
        // background: rgba(0,0,0,0.2);
        h1 {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          a {
            font: bold 30px/1 'Open Sans';
            letter-spacing: 3px;
            color: #fff;
          }
        }
        .menuWeb {
          #gnb {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            li {
              a {
                display: block;
                padding: 12px 50px;
                font: bold 16px/1 'Open Sans';
                letter-spacing: 1.3px;
                color: #fff;
                &:hover {
                  background: #b2c5c1;
                }
              }
            }
            &::before,
            &::after {
              content: '';
              display: block;
              width: 100%;
              height: 1px;
              background: #fff;
              position: absolute;
            }
            &::before {
              bottom: 40px;
            }
            &::after {
              bottom: 0;
            }
          }
          .util {
            position: absolute;
            top: 20px;
            right: 36px;
            z-index: 1;
            li {
              float: left;
              margin-left: 30px;
              a {
                font: 16px/1 'Open Sans';
                color: #fff;
              }
            }
          }
        }
      }
      .txt {
        width: 1180px;
        height: 75vh;
        margin: 0 auto;
        position: relative;
        .txt-inner {
          width: 55vw;
          height: 30vh;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: 15vh;
          h2 {
            font: 40px/1 'Source Serif Pro';
            color: #fff;
            text-align: center;
          }
          p {
            font: 20px/1.4 'Source Serif Pro';
            color: #fff;
            text-align: center;
          }
          a {
            display: block;
            width: 300px;
            height: 40px;
            border: 2px solid #b2c5c1;
            font: bold 14px/40px 'open sans';
            color: #fff;
            letter-spacing: 3px;
            text-align: center;
            // margin-top: 30px;
            margin-left: 50%;
            transform: translateX(-50%);
            border-radius: 5px;
            &:hover {
              background-color: #b2c5c1;
            }
          }
        }
      }
      .btnCall {
        width: 20px;
        height: 20px;
        z-index: 1;
        position: absolute;
        top: 3vh;
        right: 30px;
        display: none;
        span {
          display: block;
          width: 100%;
          height: 2px;
          background: #37474f;
          position: absolute;
          top: 50%;
          left: 0;
          margin-top: -1px;
          text-indent: -9990px;
        }
        &::before {
          content: '';
          display: block;
          width: 100%;
          height: 2px;
          background: #37474f;
          position: absolute;
          top: 0;
          left: 0;
        }
        &::after {
          content: '';
          display: block;
          width: 100%;
          height: 2px;
          background: #37474f;
          position: absolute;
          bottom: 0;
          left: 0;
        }
        &.on {
          span {
            transform: translateX(100%);
            opacity: 0;
          }
          &::before {
            top: 50%;
            margin-top: -1px;
            transform: rotate(45deg);
          }
          &::after {
            bottom: 50%;
            margin-bottom: -1px;
            transform: rotate(-45deg);
          }
        }
      }
      .menuMo {
        width: 270px;
        height: 100vh;
        background: #37474f;
        position: fixed;
        top: 0;
        left: -270px;
        z-index: 10;
        padding: 35px 30px;
        transition: 0.5s;
        &.on {
          left: 0;
        }
        h1 {
          position: absolute;
          bottom: 50px;
          border-bottom: 1px solid #aaa;
          padding: 20px 0 5px;
          a {
            display: block;
            font: bold 24px/1 'open sans';
            color: #fff;
            margin-bottom: 10px;
          }
          span {
            display: block;
            font: bold 14px/1 'open sans';
            color: #aaa;
          }
        }
        #gnbMo {
          margin-top: 30px;
          li {
            a {
              display: block;
              width: 100%;
              padding: 20px 0;
              font: bold 16px/1 'open sans';
              color: #888;
              text-align: center;
              border-bottom: 1px solid #666;
            }
          }
        }
      }
      .scroll_to_top {
        position: relative;
        .scroll_btn {
          position: fixed;
          bottom: 40px;
          right: 25px;
          z-index: 20;
          width: 50px;
          height: 50px;
          background: rgb(178, 197, 193, 0.8);
          border-radius: 50%;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          visibility: hidden;
          i {
            font-size: 25px;
            color: #f0e8e4;
          }
        }
      }
    }
  }
  #introduction {
    width: 100%;
    background: #f0e8e4;
    overflow: hidden;
    .inner {
      width: 1180px;
      height: 100%;
      margin: 0 auto;
      position: relative;
      display: flex;
      justify-content: space-between;
      div {
        width: 48%;
        height: 100%;
        padding: 150px 0;
      }
      .introduction_txt {
        h2 {
          font: bold 50px/1 'Source Serif Pro';
          color: #222;
          letter-spacing: 5px;
          margin-bottom: 10px;
        }
        h3 {
          font: bold 20px/1 'Source Serif Pro';
          color: #476257;
          margin-bottom: 30px;
        }
        p {
          font: normal 17px/1.3 'Source Serif Pro';
          color: #666;
        }
        a {
          display: block;
          width: 40%;
          height: 40px;
          background: #476257;
          margin-top: 30px;
          font: 14px/40px 'open sans';
          color: #fff;
          letter-spacing: 2px;
          text-align: center;
          border-radius: 3px;
        }
      }
      .introduction_img {
        img {
          width: 100%;
          height: 350px;
          object-fit: cover;
          transform-origin: top;
          transform: rotateY(200deg) translateY(100px);
          opacity: 0;
          transition: 0.5s;
        }
        p {
          font: normal 15px/1 'Source Serif Pro';
          color: #666;
          text-align: end;
        }
      }
    }
    &.on .inner .introduction_img img {
      opacity: 1;
      transform: rotateY(0deg) translateY(0px);
    }
  }
  #video {
    width: 100%;
    padding: 30px;
    background: #f5f5f5;
    .vid_inner {
      width: 100%;
      position: relative;
      .txt {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
          font: bold 30px/1 'open sans';
          color: #a18870;
          margin-bottom: 20px;
          letter-spacing: 1px;
          &::after {
            content: '';
            display: block;
            width: 300px;
            height: 1px;
            background: #476257;
            position: absolute;
            top: 40px;
            left: 50%;
            transform: translateX(-50%);
          }
        }
        p {
          font: bold 15px/1 'open sans';
          color: #8a8a8a;
          margin-bottom: 30px;
        }
      }
      figure {
        width: 100%;
        height: 60vh;
        overflow: hidden;
        box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      a {
        display: block;
        width: 80px;
        padding: 5px;
        font: bold 15px/1 'open sans';
        color: #a18870;
        border-bottom: 1px solid #a18870;
        text-align: center;
        margin-top: 30px;
        margin-left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  #product {
    width: 100%;
    padding: 100px 0;
    background: #f0e8e4;
    .inner {
      width: 1180px;
      margin: 0 auto;
      position: relative;
      .inner_txt {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
          font: bold 30px/1 'open sans';
          color: #a18870;
          letter-spacing: 1px;
          margin-bottom: 20px;
          &::after {
            content: '';
            display: block;
            width: 300px;
            height: 1px;
            background: #476257;
            position: absolute;
            top: 40px;
            left: 50%;
            transform: translateX(-50%);
          }
        }
        > p {
          font: bold 15px/1 'Open Sans';
          color: #8a8a8a;
          margin-bottom: 50px;
        }
      }
      .wrap {
        width: 100%;
        display: flex;
        justify-content: center;
        // &::after{
        //     content: ''; display: block; clear: both;
        // }
        article {
          width: 275px;
          position: relative;
          overflow: hidden;
          margin-right: 1vw;
          transform: translateY(100px);
          transition: 0.5s;
          opacity: 0;

          @for $i from 1 through 3 {
            &:nth-of-type(#{$i}) {
              transition-delay: 0.2s * ($i - 1);
            }
          }
          .img {
            width: 100%;
            height: 335px;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: 0.5s;
            }
            .img_txt {
              width: 100%;
              height: 335px;
              position: absolute;
              top: 0;
              left: 0;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              opacity: 0;
              transition: 0.5s;
              p {
                font: 15px/1.3 'open sans';
                color: #fff;
              }
              a {
                display: block;
                width: 50%;
                height: 40px;
                border: 1px solid #fff;
                font: 15px/30px 'open sans';
                color: #fff;
                text-align: center;
                &:hover {
                  background: #fff;
                  color: #222;
                }
              }
            }
            &:hover img {
              transform: scale(1.2);
            }
            &:hover .img_txt {
              background: #222;
              opacity: 0.7;
            }
          }
          p {
            font: bold 15px/1 'Open sans';
            color: #222;
            text-align: center;
            margin: 20px 0;
          }
        }
      }
    }
    &.on .inner .wrap article {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  #community {
    width: 100%;
    padding: 30px;
    background: #f5f5f5;
    .com_inner {
      width: 100%;
      height: 80vh;
      margin: 0 auto;
      background: url(../img/comment3.jpg) no-repeat center top/cover;
      position: relative;
      overflow: hidden;
      .wrap,
      .swiper {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        // article{
        //     width: 300%; height: 100%;
        //     position: absolute; top: 0; left: 0;
        //     padding: 10vh 15vw;
        article,
        .swiper-wrapper {
          width: 100%;
          height: 100%;
          padding: 20vh 20vw;
          .comment,
          .swiper-slide {
            width: 100%;
            height: 100%;
            padding: 0 10vw;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            h1 {
              font: bold 30px/1 'Open Sans';
              color: #a18870;
            }
            .cus_img {
              width: 100px;
              height: 100px;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
              }
            }
            h2 {
              font: 18px/1 'Source Serif Pro';
              text-align: center;
            }
            h3 {
              font: 14px/1 'Open Sans';
            }
          }
        }
      }
    }
  }

  #footer {
    width: 100%;
    background: #476257;
    .inner {
      width: 1180px;
      margin: 0 auto;
      padding: 2vw 0;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        font: bold 30px/1 'Open sans';
        letter-spacing: 3px;
        color: #fff;
        margin-bottom: 2vh;
      }

      > p {
        font: 14px/1.3 'Source Serif Pro';
        padding: 0 10vw;
        text-align: center;
        color: #fff;
        margin-bottom: 3vh;
        strong {
          font-size: 18px;
        }
      }
      .sns {
        display: flex;
        margin-bottom: 3vh;
        li {
          a {
            width: 30px;
            height: 30px;
            background: #fff;
            border-radius: 50%;
            margin-left: 20px;
            font-size: 12px;
            color: #476257;

            display: flex;
            justify-content: center;
            align-items: center;
          }
          &:first-of-type a {
            margin-left: 0;
          }
        }
      }

      address {
        font: 14px/1.2 'open sans';
        margin-bottom: 1vh;
        color: #333;
        text-align: center;
      }
      span {
        font: 14px/1 'open sans';
        color: #333;
      }
    }
  }
}

//tablet 구간
@media screen and (max-width: 1179px) {
  body {
    #header {
      &::after {
        height: 8vh;
        opacity: 1;
        z-index: 0;
      }
      .inner {
        width: 100%;
        // height: 50%;
        .header_nav {
          width: 100%;
          height: 8vh;
          z-index: 1;
          h1 {
            position: absolute;
            top: 0;
            left: 3vw;
            transform: translate(0, 0);
            a {
              font: bold 28px/8vh 'Open Sans';
            }
          }
          .menuWeb {
            display: none;
          }
        }
        .txt {
          width: 100%;
          height: 92vh;
        }
        .btnCall {
          display: block;
          top: 2.5vh;
          right: 3vw;
        }
      }
    }

    #introduction {
      padding: 0 20px;
      .inner {
        width: 100%;
        div {
          width: 48%;
          height: 100%;
          padding: 150px 0;
        }
      }
    }

    #video {
      .vid_inner {
        figure {
          height: 50vh;
        }
      }
    }
    #product {
      .inner {
        width: 100%;
      }
    }
    #community {
      .com_inner {
        .wrap,
        .swiper {
          article,
          .swiper-wrapper {
            .comment,
            .swiper-slide {
              h1 {
                font: bold 24px/1 'Open Sans';
                color: #a18870;
              }
              .cus_img {
                width: 80px;
                height: 80px;
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  border-radius: 50%;
                }
              }
              h2 {
                font: 16px/1 'Source Serif Pro';
                text-align: center;
              }
              h3 {
                font: 12px/1 'Open Sans';
              }
            }
          }
        }
      }
    }
    #footer {
      .inner {
        width: 100%;
      }
    }
  }
}

//mobile 구간
@media screen and (max-width: 539px) {
  body {
    #header {
      height: 60vh;
      &::after {
        height: 8vh;
      }
      .inner {
        .header_nav {
          height: 8vh;
          h1 {
            a {
              font: bold 24px/8vh 'Open Sans';
              letter-spacing: 2px;
            }
          }
        }
        .txt {
          height: 52vh;
          .txt-inner {
            width: 70vw;
            height: 20vh;
            bottom: 5vh;
            h2 {
              font: 24px/1 'Source Serif Pro';
            }
            p {
              font: 12px/1.4 'Source Serif Pro';
            }
            a {
              width: 70%;
              height: 30px;
              border: 1px solid #b2c5c1;
              font: bold 12px/30px 'open sans';
            }
          }
        }
      }
    }
    #introduction {
      .inner {
        flex-wrap: wrap;
        div {
          width: 100%;
          padding: 40px 10px;
        }
        .introduction_txt {
          h2 {
            font: bold 40px/1 'Source Serif Pro';
          }
          h3 {
            font: bold 15px/1 'Source Serif Pro';
          }
          p {
            font: normal 12px/1.3 'Source Serif Pro';
          }
          a {
            width: 100%;
            height: 30px;
            font: 12px/30px 'open sans';
            color: #fff;
          }
        }
        .introduction_img {
          img {
            height: 200px;
          }
        }
      }
    }
    #video {
      .vid_inner {
        .txt {
          h1 {
            font: bold 24px/1 'open sans';
            &::after {
              width: 200px;
              top: 35px;
            }
          }
          p {
            font: bold 12px/1 'open sans';
          }
        }
        figure {
          height: 25vh;
        }
        a {
          font: bold 14px/1 'open sans';
        }
      }
    }
    #product {
      padding: 100px 0;
      .inner {
        width: 100%;
        .inner_txt {
          h1 {
            font: bold 24px/1 'open sans';
            &::after {
              width: 200px;
              top: 35px;
            }
          }
          > p {
            font: bold 12px/1 'Open Sans';
          }
        }
        .wrap {
          flex-wrap: wrap;
          article {
            width: 300px;
            .img {
              .img_txt {
                padding: 30px;
              }
            }
          }
        }
        a {
          font: bold 12px/1 'open sans';
        }
      }
    }
    #community {
      width: 100%;
      padding: 0;
      .com_inner {
        height: 60vh;
        .wrap,
        .swiper {
          article,
          .swiper-wrapper {
            padding: 0;
            .comment,
            .swiper-slide {
              position: absolute;
              height: 60%;
              padding: 0 10vw;
              top: 10vh;
              h1 {
                font: bold 24px/1 'Open Sans';
                color: #a18870;
              }
              .cus_img {
                width: 80px;
                height: 80px;
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  border-radius: 50%;
                }
              }
              h2 {
                font: 16px/1 'Source Serif Pro';
                text-align: center;
              }
              h3 {
                font: 12px/1 'Open Sans';
              }
            }
          }
        }

        .swiper-button-next,
        .swiper-button-prev {
          &::after {
            font-size: 24px;
          }
        }
      }
    }
    // #community {
    //   padding: 0;
    //   .com_inner {
    //     height: 60vh;
    //     .wrap,
    //     .swiper {
    //       article,
    //       .swiper-wrapper {
    //         padding: 0;
    //         .comment,
    //         .swiper-slide {
    //           padding: 0 10vw;
    //           h1 {
    //             font: bold 20px/1 'Open Sans';
    //             margin: 12vh 0 5vh;
    //           }
    //           .cus_img {
    //             width: 50px;
    //             height: 50px;
    //           }
    //           h2 {
    //             font: 12px/1 'Source Serif Pro';
    //           }
    //           h3 {
    //             font: 12px/1 'Open Sans';
    //           }
    //         }
    //       }
    //     }
    //   }
    // }

    #footer {
      .inner {
        padding: 10px;
        h1 {
          font: bold 24px/1 'Open sans';
          margin-top: 2vh;
        }

        > p {
          display: none;
        }
        .sns {
          margin-bottom: 2vh;
          li {
            a {
              width: 22px;
              height: 22px;
            }
          }
        }

        address {
          font: 12px/1.2 'open sans';
          margin-bottom: 1vh;
          color: #333;
          text-align: center;
        }
        span {
          font: 12px/1 'open sans';
          color: #333;
        }
      }
    }
  }
}
